---
layout: default
title: スポンサー
description: "GitLab日本語情報サイトの更新に貢献しているスポンサー企業を紹介します。"
suppress_header: true
extra_css:
  - gitlab_jp/sponsors.css
---

<div class="simple-header">
  <h1>スポンサー</h1>
  <p>
    GitLab日本語情報サイトは、GitLabの情報を日本語で発信するために個人で立ち上げたコミュニティサイトです。
    しかし、大量のコンテンツを個人の時間だけで更新し続けることは、とても難しい問題です。
    そのため、本サイトの更新には企業からの貢献が欠かせない状況となっています。
  </p>
</div>

<div class="content-container">
  <div class="text-center">
    <h1>2019年トップ貢献企業 </h1>
  </div>

  <div class="content">
    <table style="width:80%" align="center">
      <tr>
        <th>カテゴリー*</th>
        <th>企業名</th>
        <th>マージ件数</th>
        <th>リリースブログ件数</th>
      </tr>
      <% data.top_contributing_organizations_2019.each do |contributors| %>
        <tr>
          <td>
            <% if contributors.category == 'SuperStar' %>
              <i class="fas fa-trophy color-primary"></i>
              <%= contributors.category %>
            <% end %>
            <% if contributors.category == 'Star' %>
              <i class="fas fa-medal"></i>
              <%= contributors.category %>
            <% end %>
            <% if contributors.category == 'Enthusiast' %>
              <i class="fas fa-award color-gray"></i>
              <%= contributors.category %>
            <% end %>
          </td>
          <td>
            <%= link_to contributors.name, contributors.link + "/" %>
          </td>
          <td><%= contributors.merged_mrs %></td>
          <td><%= contributors.blog_posts %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="content">
    <div class="text-center">
      <p>*凡例</p>
      <p><i class="fas fa-trophy color-primary"></i> SuperStar: マージ件数が76件以上 & リリースブログ3件以上</p>
      <p><i class="fas fa-medal"></i> Star: マージ件数が11件〜75件 & リリースブログ1件以上</p>
      <p><i class="fas fa-award color-gray"></i> Enthusiast: マージ件数が5件〜10件</p>
    </div>
  </div>
</div>

<div class="content-container">
  <div class="text-center">
    <h1>2018年トップ貢献企業 </h1>
  </div>

  <div class="content">
    <table style="width:80%" align="center">
      <tr>
        <th>カテゴリー*</th>
        <th>企業名</th>
        <th>マージ件数</th>
        <th>リリースブログ件数</th>
      </tr>
      <% data.top_contributing_organizations_2018.each do |contributors| %>
        <tr>
          <td>
            <% if contributors.category == 'SuperStar' %>
              <i class="fas fa-trophy color-primary"></i>
              <%= contributors.category %>
            <% end %>
            <% if contributors.category == 'Star' %>
              <i class="fas fa-medal"></i>
              <%= contributors.category %>
            <% end %>
            <% if contributors.category == 'Enthusiast' %>
              <i class="fas fa-award color-gray"></i>
              <%= contributors.category %>
            <% end %>
          </td>
          <td>
            <%= link_to contributors.name, contributors.link + "/" %>
          </td>
          <td><%= contributors.merged_mrs %></td>
          <td><%= contributors.blog_posts %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="content">
    <div class="text-center">
      <p>*凡例</p>
      <p><i class="fas fa-trophy color-primary"></i> SuperStar: マージ件数が76件以上 & リリースブログ3件以上</p>
      <p><i class="fas fa-medal"></i> Star: マージ件数が11件〜75件 & リリースブログ1件以上</p>
      <p><i class="fas fa-award color-gray"></i> Enthusiast: マージ件数が5件〜10件</p>
    </div>
  </div>
</div>

<div class="u-padding-bottom-sm u-subtle-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="main-heading">スポンサー制度</h22>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>
          <a href="https://gitlab.com/gitlab-jp/www-gitlab-jp">GitLab日本語情報サイトプロジェクト</a>にマージリクエスト(MR)を投稿して
          本サイトの更新に貢献することで、本サイトのスポンサーになることができます。
          スポンサーは、SuperStar/Star/Enthusiastの3つのカテゴリーに分かれていて、
          1年間にマージされたMRの合計件数とリリースブログ(パッチバージョンを除く)の合計件数によって、スポンサーのカテゴリーが決まります。
        </p>
        <p>
          MRとブログの件数はマージされた日ではなく、MRの作成日を基準日として使用することにご注意ください。
          これは、レビューの遅れによって年をまたいでマージされてしまうケースに対応するためです。
        </p>
        <p>
          スポンサーになりたい場合は、マージリクエストで企業からの貢献であることをお伝え下さい。
          以降は、マージリクエストにラベルをつけることで企業からの貢献としてカウントいたします。
        </p>
        <p>
          それぞれのカテゴリーのマージ件数、リリースブログ件数、スポンサー特典は以下のとおりです。
        </p>
      </div>
    </div>

    <table class="table">
      <tr>
        <th scope="col">カテゴリー</th>
        <th scope="col">マージ件数</th>
        <th scope="col">リリースブログ件数</th>
        <th scope="col">特典</th>
      </tr>
      <tr>
        <td scope="row"><i class="fas fa-trophy color-primary"></i> SuperStar</td>
        <td>76件以上</td>
        <td>3件以上</td>
        <td><i>Star:</i> + サイト内にバナー広告を掲載する権利</td>
      </tr>
      <tr>
        <td scope="row"><i class="fas fa-medal"></i> Star</td>
        <td>11件〜75件</td>
        <td>1件以上</td>
        <td><i>Enthusiast:</i> + スポンサーページに企業紹介を掲載する権利</td>
      </tr>
      <tr>
        <td scope="row"><i class="fas fa-award color-gray"></i> Enthusiast</td>
        <td>5件〜10件</td>
        <td> - </td>
        <td>スポンサーページに企業名を掲載する権利</td>
      </tr>
    </table>

    <div class="row">
      <div class="col-xs-12">
        <p>
          余談ですが、スポンサー制度のカテゴリーとマージ件数は、本家サイトでコニュニティの貢献者を表彰している
          <a href="https://about.gitlab.com/community/top-annual-contributors/">
            Top Annual Contributors
          </a>
          の制度を参考にしています。
          オープンソースへの貢献に興味のある方は、ぜひ
          <a href="https://gitlab.com/gitlab-org/gitlab">
            GitLabプロジェクト
           </a>
           へのマージリクエストの投稿にも挑戦してみてください。
        </p>
      </div>
    </div>
  </div>
</div>
