.sdlc-container.position-relative
  .sdlc-description
    = link_to "/concurrent-devops", class: "title-link" do
      %h2 GitLabは完全なDevOpsプラットフォームです
    %p
      :markdown
        GitLabを使えば、完全なCI/CDツールチェーンをオールインワンのアプリケーションで手に入れることができます。1つのインターフェース。 1つのパーミッションモデル。豊富な機能。GitLabが今日できることの多さに驚くことでしょう。そして、GitLabはさらなる進化を続けています。

  .table-container

    %p.table-label.single-application-label 機能
    %p.table-label.separate-application-label 比較

    .sdlc-table
      - Gitlab::Homepage::Stage.all!.select{|stage| stage.marketing}.each do |stage|
        .sdlc-column
          .stage-container
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              = partial "/includes/icons/sdlc-icons/#{stage.key}.svg"
            %a{href: "/stages-devops-lifecycle/#{stage.key}/"}
              %p #{stage.display_name}
          .solutions-container
            - active_categories = stage.categories.select { |c| c.marketing && c.maturity && c.maturity != "planned"}
            - upcoming_categories = stage.categories.select { |c| c.marketing && c.maturity && c.maturity == "planned"}
            - if active_categories.length >= 1
              .current-categories
                %p.font-bold
                  #{stage.established}
                  年以降に追加:
                - active_categories.each do |category|
                  %p
                    - url = category.best_link
                    %a{ href: "#{url}" } #{category.name}
                - if upcoming_categories.length<1
                  %p
                    %a{ href: "#{stage.direction}"} 今後の計画
            .future-categories
              %p.font-bold
                - if upcoming_categories.length >= 1
                  = succeed ':' do
                    今後の
                    %br
                    %a.font-bold{ href: "#{stage.direction}"} 計画
              - upcoming_categories.each do |category|
                %p
                  - url = category.best_link
                  %a.future-category{ href: "#{url}", target: "_blank" } #{category.name}

          .devops-tools-wrapper{ id: "#{stage.key}-devops_tools-container" }
            %p.replace-text.font-bold 類似の機能
            .devops-tools-container
              - stage.devops_tools.each do |devops_tool|
                %a.devops-tool-logo-container{ href: "/devops-tools/#{devops_tool.key.dup.tr('_', '-')}-vs-gitlab.html" }
                  .devops-tool-tooltip
                    %p.tooltip-text
                      = devops_tool.name
                    .tooltip-carat
                  = image_tag "#{devops_tool.logo}", class: "devops-tool-logo", alt: "#{devops_tool.name} logo png" , loading: 'lazy'

    %p.text-center.color-gray.font-small.margin-top30

    .btn-group.margin-top20
      %a.btn.cta-btn.orange.see-all-comparisons{ href: '/devops-tools/' } すべてのDevOpsツールと比較

    .btn-group.margin-top20
      %a.btn.cta-btn.btn-primary{ href: '/direction/maturity/' } 機能の成熟度

%script{ src: "/javascripts/rotate-devops_tools.js" }
%script{ src: "/javascripts/libs/tweenmax.min.js" }
