---
layout: feature
title: GitLabの継続的インテグレーションと継続的デリバリー
description: "コードのビルド、テスト、デプロイ、監視に役立つGitLabの統合CI/CDパイプラインについて学びましょう。"
suppress_header: true
canonical_path: "/stages-devops-lifecycle/continuous-integration/"
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  .blank-header
    = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
    = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
    .header-content
      = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
      %h1 GitLabの継続的インテグレーション(CI)と継続的デリバリー(CD)
      %p
        GitLab CI/CDパイプラインは、統合された単一のワークフローの一部としてコードのビルド、テスト、デプロイ、監視を行います。
  .sub-wrapper
    .container
      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2 継続的インテグレーションはGitLabに組み込まれています
          %p
            = succeed ' ' do
              %strong 継続的インテグレーション
            (CI) は、チームメンバーが書いたコードを共有リポジトリに統合するために動作します。
            開発者はマージ (プル) リクエストで新しいコードをチームメンバーと共有します。
            このリクエストは、コードの変更を統合ブランチにマージする前に、新しいコードをビルド・テスト・検証するためのパイプラインを作成します。

          %p
            = succeed ' ' do
              %strong 継続的デリバリー
            (CD) は、構造化されたデプロイメントパイプラインを使用して、CIで検証済みのコードをアプリケーションに確実にデリバリーします。

          %p
            %a{href: "/ci-cd/"} CIとCD
            を併用することで、チームが顧客や利害関係者に結果を迅速に提供できるようになります。
            CIは開発サイクルの初期段階でバグをキャッチして削減するのに役立ち、CDは検証済みのコードをアプリケーションに反映し、より早く顧客に届けるのに役立ちます。

          %p
            チームが迅速かつ効果的にアプリケーションを開発するためには、CIとCDがシームレスに連携する必要があります。
        .col-xs-1.col-md-1
      %hr.divider/
      .row
        .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
          = image_tag "/images/home/forrester-ci-wave-graphic.svg", class: "hidden-xs", alt: "Best in class continuous integration"
        .col-xs-12.col-md-6
          %h2 Forrester CI Wave™のリーダーに選出されました
          %p
            「GitLabは、インストールと設定のための包括的なドキュメント、わかりやすいUI、オンプレミスでの利用をサポートする柔軟なユーザー単位の価格モデルで開発チームをサポートします。
            GitLabのビジョンは、コードを書く時間を増やし、ツールチェーンを維持する時間を減らしたいと考えているエンタープライズ規模の統合型ソフトウェア開発チームにサービスを提供することです。」 - Forrester CI Wave™
          = link_to "レポートを取得", "/resources/forrester-wave-ci-2017/", class: "btn cta-btn accent"
      %hr.divider/

      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2 CIとは？

          %b 継続的インテグレーション
          とは、開発者が書いたすべてのコードをマージするためのプラクティスです。
          マージは通常、共有リポジトリで一日に数回行われます。
          リポジトリ内や本番環境から、ビルドと自動テストが行われ、統合の問題がないことを確認し、問題を早期に発見することができます。

          %h2 CDとは？

          %b 継続的デリバリー
          はステージングシステムに変更を自動的に適用することで、ソフトウェアをいつでも本番環境にリリースできるようにします。
          %p
          %b 継続的デプロイ
          はさらに進んで、本番環境に変更を自動的に適用します。
        .col-xs-1.col-md-1
      %hr.divider/

      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2 チームにCI/CDワークフローが必要な理由

          %h3 継続的インテグレーション
          %ul
            %li
              %b エラーを可能な限り迅速に検出：
              開発者の記憶が新鮮なうちに問題を修正できます
            %li
              %b 統合の問題を軽減：
              小さな問題ほど解消しやすいです
            %li
              %b 複合的な問題の回避：
              チームはより速く、より自信を持って開発することができます

          %h3 継続的デリバリー
          %ul
            %li
              %b すべての変更がリリース可能であることを保証：
              リリース前にすべてのテストが実行済みです
            %li
              %b 各リリースのリスクを低減：
              リリースを「簡単」にする
            %li
              %b 価値をより迅速に提供：
              信頼性の高いデプロイにより、頻繁にリリースできます
            %li
              %b 素早いフィードバックループ：
              顧客から変更に対する迅速かつ頻繁なフィードバックが得られます
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10.col-md-offset-1
          = image_tag "/images/blogimages/cicd_pipeline_infograph.png", alt: "CI/CD Overview", style: "margin-top: 40px;"
      %hr.divider/

      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2 GitLab CI/CDのメリットは？
          %ul
            %li
              %b 統合されていること：
              GitLab CI/CDはGitLabの一部であり、計画からデプロイまで（そしてそれ以降も）一元管理が可能です
            %li
              %b オープンソース：
              CI/CD は、オープンソースの GitLab Community Edition とプロプライエタリな GitLab Enterprise Edition の両方に含まれています
            %li
              %b 簡単に学べること：
              %a{href: "https://docs.gitlab.com/ee/ci/quick_start/"} クイックスタート
              ガイドをご覧ください
            %li
              %b シームレス：
              オールインワンの GitLab アプリケーションの一部であり、優れたユーザースペリエンスを提供します
            %li
              %b スケーラブル：
              テストは別々のマシンに分散して実行され、必要な数だけマシンを追加することができます
            %li
              %b 高速に実行：
              各ビルドを複数のジョブに分割して、複数のマシンで並列に実行できます
            %li
              %b デリバリーの最適化：
              複数ステージ、UI上で手動デプロイ、
              %a{href: "https://docs.gitlab.com/ee/ci/environments.html"} 環境
              、
              %a{href: "https://docs.gitlab.com/ee/ci/variables/"} 変数
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10.col-md-offset-1
          = image_tag "/images/ci/ci-cd-test-deploy-illustration_2x.png", alt: "GitLab CI/CD", style: "margin-top: 40px;"
      %hr.divider/
      .row.more-features
        .col-xs-1.col-md-1
        .col-xs-10.col-md-10
          %h2 特徴
          %ul
            %li
              %b マルチプラットフォーム：
              Unix、Windows、macOS、その他Goをサポートするあらゆるプラットフォームでビルドを実行できます。
            %li
              %b 多言語：
              ビルドスクリプトはコマンドラインで実行され、Java、PHP、Ruby、C、その他あらゆる言語で動作します。
            %li
              %b 安定性：
              ビルドは GitLab とは別のマシンで実行されます。
            %li
              %b 並列ビルド：
              GitLab CI/CD はビルドを複数のマシンに分割して高速に実行します。
            %li
              %b リアルタイムロギング：
              マージリクエストのリンクをクリックすると、現在のビルドログが動的に更新されます。
            %li
              %b 柔軟なパイプライン：
              ステージごとに複数の並列ジョブを定義し、
              %a{href: "https://docs.gitlab.com/ee/ci/triggers/"} 他のビルドをトリガー
              することができます。
            %li
              %b バージョン管理されたパイプライン：
              %a{href: "https://docs.gitlab.com/ee/ci/yaml/"} .gitlab-ci.yml ファイル
              にはテストなどのすべてのステップが含まれています。
              ブランチで .gitlab-ci.yml ファイルを変更することで、誰でも安全にパイプラインの変更を試すことができます。
            %li
              %b オートスケーリング：
              ビルドがすぐに処理されるように
              = link_to "VMを自動的に起動・停止", "/blog/2016/03/29/gitlab-runner-1-1-released/"
              させて、コストを最小限に抑えることができます。
            %li
              %b ビルド成果物：
              バイナリやその他の
              %a{href: "https://docs.gitlab.com/ee/ci/build_artifacts/"} ビルド成果物
              を GitLab にアップロードして、表示したりダウンロードしたりすることができます。
            %li
              %b ローカルでのテスト：
              %a{href: "https://docs.gitlab.com/runner/executors/"} 複数の Executor
              があり、
              %a{href: "https://gitlab.com/gitlab-org/gitlab-runner/issues/312"} ローカルでテストを再現することができます
              。
            %li
              %b Dockerのサポート：
              カスタムDockerイメージを使用したり、テストの一環として
              %a{href: "https://docs.gitlab.com/ee/ci/services/"} サービス
              を起動したり、
              %a{href: "https://docs.gitlab.com/ee/ci/docker/using_docker_build.html"} 新しいDockerイメージをビルド
              したり、Kubernetes上で実行したりすることができます。
            %li
              %b コンテナレジストリ：
              コンテナイメージを保存、共有、使用するための
              %a{href: "https://docs.gitlab.com/ee/user/project/container_registry.html"} 組み込みコンテナレジストリ
              を利用できます。
            %li
              %b 保護変数：
              環境ごとに
              %a{href: "https://docs.gitlab.com/ee/ci/variables/README.html#protected-variables"} 保護変数
              を使用して、デプロイに必要な認証情報などを安全に保存し、使用することができます。
            %li
              %b 環境：
              一時的な
              %a{href: "https://about.gitlab.com/features/review-apps/"} レビューアプリ
              を含めて、複数の環境を定義することができ、すべての環境のデプロイ履歴を確認できます。
        .col-xs-1.col-md-1
      %hr.divider/

      .row
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 GitLabはDevOpsライフサイクル全体のためのオールインワンのアプリケーション
          %ul
            %li
              GitLab Runners を使ってアプリケーションを
              %b ビルド
            %li
              %b 単体テストと統合テスト
              を実行して、コードに問題がないかチェック
            %li
              安定版にマージする前に
              %a{href: "/product/review-apps/"} レビューアプリ
              で開発ブランチのライブプレビューを表示
            %li
              ステージングや本番環境など複数の環境に
              %b デプロイ
              、さらにカナリアデプロイなどの高度な機能もサポート
            %li
              アプリケーションのパフォーマンスとステータスを
              %b 監視
        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/ci/ci-cd-devops-loop_2x.png", alt: "DevOps", style: "margin-top: 80px;"
      %hr.divider/

      .row
        .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
          = image_tag "/images/ci/ci-cd-integrated_2x.png", class: "hidden-xs", alt: "Integrated GitLab CI"
        .col-xs-12.col-md-6
          %h2 GitLabと完全に統合
          %ul
            %li
              %b 素早くプロジェクトをセットアップ：
              ワンクリックでプロジェクトを追加できます。すべてのフックは GitLab API を介して自動的に設定されます。
            %li
              %b マージリクエストとの統合：
              GitLab のマージリクエスト内で各ビルドの状態を確認できます。
      %hr.divider/

      .row.architecture
        .col-xs-1.col-md-1
        .col-xs-12.col-md-6
          %h2 アーキテクチャ
          .architecture-text
            %p
              %b GitLab CI/CD
              はGitLabの一部であり、その状態をデータベースに保存するAPIを持つWebアプリケーションです。
              GitLabのすべての機能に加えて、プロジェクト/ビルドを管理するための使いやすいユーザーインターフェイスを提供します。
            %p
              %b GitLab Runner
              はビルドを実行するアプリケーションです。別のマシンに個別にインストールすることができ、APIを介してGitLab CI/CDと連携します。
            %p
              テストを実行するためには、少なくとも、
              1つの
              %b GitLabサーバー
              と1つの
              %b GitLab Runner
              が必要です。
        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/ci/ci-cd-architecture_2x.png", class: "gitlab-arch hidden-xs", alt: "Gitlab ci cd architecture png"
      %hr#gitlab-runner.divider/
      .row.installation
        .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
          = image_tag "/images/ci/gitlab-runner-logo_2x.png", class: "hidden-xs", alt: "Integrated GitLab CI", style: "width: 60%; margin-top: 60px; margin-left: 20%;"
        .col-xs-12.col-md-6
          %h2#gitlab-runner GitLab Runner
          %p
            実際のビルドを行うには、Goで書かれたGitLab Runnerをインストールする必要があります。
          %p
            Linux、macOS、Windows、FreeBSD、Dockerなど、Goバイナリをビルドできるあらゆるプラットフォームで動作します。
          %p
            \.Net、Java、Python、C、PHPなど、あらゆるプログラミング言語をテストすることができます。
          %p
            GitLab Runnerには、
            %a{href: "https://docs.gitlab.com/runner/configuration/autoscale.html"} オートスケーリング
            、
            %a{href: "https://docs.gitlab.com/runner/executors/docker.html"} 優れたDockerサポート
            、複数のジョブを同時に実行できる機能など、
            %a{href: "https://docs.gitlab.com/runner#features"} 多くの機能
            があります。
          %p
          %h3
            %a{href: "https://docs.gitlab.com/runner/install"} GitLab Runnerをインストール
      %hr.divider/
      .row.links
        .col-xs-1.col-md-1
        .col-xs-11.col-md-6
          %h2 ヘルプと詳細情報
          %ul
            %li
              %a{href: "https://www.youtube.com/watch?v=RlEVGOpYF5Y"} JenkinsからGitLabに移行する
              ためのステップバイステップガイドをご確認ください
            %li
              CI/CD の新機能の提案や議論は、「CI/CD」ラベルを付けて、GitLabの
              %a{href: "https://gitlab.com/gitlab-org/gitlab/issues"} 課題管理システム
              でお願いします
            %li
              詳細は
              %a{href: "https://docs.gitlab.com/ee/ci/"} GitLab CI/CDのドキュメント
              を参照してください
            %li バージョン8.0以降、GitLab CE/EEとGitLab CI/CDは一つの製品となっています
            %li
              %a{href: "https://docs.google.com/presentation/d/1OGgk2Tcxbpl7DJaIOzCX4Vqg3dlwfELC3u2jEeCBbDk"} 「なぜCI/CDが必要なのか？」
              のプレゼンテーションをご覧ください
        .hidden-xs.hidden-sm.col-md-4
          = image_tag "/images/ci/gitlab-ci-cd-logo_2x.png", class: "gitlab-arch hidden-xs", alt: "Gitlab ci cd logo png", style: "width: 60%;"
      %hr.divider/
