.page-container.landing-container.text-center
  %div
    %h1.page-headline
      = solution.display_name
    %h2.page-subtitle
      = solution.description

- if (solution.body != "")
  .feature-gallery-alt.text-center
    %p.solution-body
      = solution.body

.page-container.product-categories-container.text-center
  .container.titles
    %h1
      製品カテゴリー
    .gitlab-content-container-full.margin-top40
      .content
        .grid-layout.grid-layout2
          - Gitlab::Homepage::Category.all!.select{|category| category.marketing}.each do |category|
            - url = category.best_link
            - badge = nil
            - if category.maturity == 'planned'
              - badge = 'Future Category'
            - if solution.display_name.downcase === category.stage
              .grid-item.fiex-container.flex-column.flex-start.text-left
                %a.category-title.flex-container.align-center.full-width{ href: "#{url}" }
                  = image_tag "/images/devops-tools/gitlab-logo.svg", class: "category-logo", alt: "GitLab logo svg"
                  %h3.margin0{ id: "#{category.key.gsub('_', '-').downcase}" }
                    = category.name
                  - unless badge.nil?
                    .badge-container.top-row
                      .badge.available
                        = badge
                - if category.description? || category.description != ""
                  %p.margin-top20
                    = category.description
                %a.learn-more.flex-container.align-center{ href: "#{url}"}
                  詳細 →

.page-container.feature-gallery-alt.text-center
  - if solution.cta
    = partial "#{solution.cta}"
  .container.titles
    %h1
      計画
    .direction
      %p
        %a.learn-more{ href: "/direction/#{solution.display_name.downcase}/"}計画ページ
        = succeed "。" do
          で、将来的に追加予定の機能を調べる

- if (defined?(solution.related))
  .page-container.feature-gallery.text-center
    .container.titles
      %h1
        関連する
      .related-solutions
        - solution.related.each do |related_solution|
          .related-solution-item
            = link_to "/stages-devops-lifecycle/#{related_solution}" do
              %p
                = data.stages.stages.public_send(related_solution).display_name
              %p
                = data.stages.stages.public_send(related_solution).description
