---
layout: default
title: セルフマネージド | 各種プランの機能比較
description: GitLabの各種プランでの機能の違いを比較します
suppress_header: true
extra_css:
  - pricing.css
  - compared.css
extra_js:
  - bootstrap-tooltip.js
  - comparison.js
extra_font:
  - "Roboto+Slab"
---
.content-container
  .container
    %h2.faq-title.text-center
      セルフマネージド | 機能比較
    .comparison-page-content.comparison.gray-bg#comparison
      = partial "includes/features/table", locals: { product_one: data.features.devops_tools.gitlab_core, product_two: data.features.devops_tools.gitlab_premium, product_three: data.features.devops_tools.gitlab_ultimate, key_one: 'gitlab_core', key_two: 'gitlab_premium', key_three: 'gitlab_ultimate', name_one: 'Free', name_two: 'Premium', name_three: 'Ultimate', gitlab_com_features: false, highlight_features: false }
    .text-center
      = link_to 'https://www.creationline.com/gitlab', class: "featured-item-cta-btn contact-us-button", target: "_blank" do
        「国内の正規代理店」へ問い合わせ
        %i{ class: "fas fa-external-link-alt" }
.last-updated-section.text-center
  %p
    * このページの情報は最新ではありません。最新の情報は
    = link_to "本家サイト", "https://about.gitlab.com/pricing/self-managed/feature-comparison/", target: "_blank"
    をご確認ください。