---
title: "来月からGitLab.comのFreeプランのCI/CDの使用時間が削減されます"
author: "Sid Sijbrandij"
author_gitlab: sytses
author_twitter: sytses
image_title: '/images/default-blog-image.png'
description: "無料版ユーザーのCI/CDの使用時間を評価し、大多数のユーザーへの影響が小さくなる範囲でCI/CDの使用時間を削減します"
translator: "Hiroyuki Sato"
translator_gitlab: hiroponz
original_url: https://about.gitlab.com/releases/2020/09/01/ci-minutes-update-free-users/
---

GitLabは、あらゆる規模のチームがDevOpsを実現できるよう、コミュニティの力を高めることに積極的に取り組んできました。より多くのユーザーが無料の製品の恩恵を受けられるように、無料の製品に多くの[機能を移行](https://about.gitlab.com/blog/2020/03/30/new-features-to-core/)してきました。[下位のプランの相対的な価値を高めて](https://about.gitlab.com/handbook/ceo/pricing/#lower-tiers-have-more-relative-value)、より多くのユーザーが完全なDevOpsプラットフォームにアクセスできるように取り組んできました。

その結果、時間の経過とともにGitLabの利用は大きく成長し、推定[登録ユーザー数は3,000万人](https://about.gitlab.com/is-it-any-good/#gitlab-is-the-most-used-devops-tool)に達し、そのうち約600万人のGitLab.comユーザーがGitLab.comの無料版を利用しています。この急激な成長に興奮している一方で、この成長を支えるためのコストは大幅に増加しています。 GitLabが企業としても製品としても成熟していく中で、より効率的な企業になることに注力する必要があります。

無料版ユーザーのCI/CDの使用時間を評価したところ、98.5%が月間400分以内に収まっていることが分かりました。
GitLab.comのFreeプランでのCI/CDの提供を継続するために、GitLab.comのコストとユーザーの利便性を考慮して、CI/CDの使用時間を削減することにしました。

## GitLab.com Freeプランの変更点

2020年10月1日より、GitLab.comのFreeプランで利用可能なCI/CDの使用時間を、トップレベルのグループ（または個人の名前空間）ごとに月400分に削減します。

|    | Free | Bronze | Silver | Gold |
| -- | ---- | ------ | ------ | ---- |
| 料金 | $0 | $4 | $19 | $99 |
| CI/CD使用時間（分） | 400 | 2,000 | 10,000 | 50,000 |

## CI/CDの使用時間を削減するには

CI/CDの使用時間は、[自身でRunnerを用意する](https://docs.gitlab.com/runner/)など、様々な方法で削減することができます。

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/GrO-8KtIpRA" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

変更点の詳細やCI/CDの使用時間の管理・削減方法については、[よくある質問](https://about.gitlab.com/pricing/faq-consumption-cicd)をご覧ください。

## 利用可能なCI/CDの使用時間を追加購入

400分では足りない場合は、1000分ごとに10ドルでCI/CDの使用時間を追加購入するか、[有料プラン](/pricing)にアップグレードすることができます。 また、自分でRunnerを用意することもできます。 [プロジェクトごとに固有のRunnerを利用する](https://docs.gitlab.com/runner/)こともできます。 GitLab.comで提供している共有Runnerの利用のみが、400分の使用時間にカウントされます。

また、GitLab は、[オープンソースプロジェクト](https://about.gitlab.com/solutions/open-source/program/)、[教育機関](https://about.gitlab.com/solutions/education/)、[スタートアップ企業](https://about.gitlab.com/solutions/startups/)向けのプログラムとして、ゴールドプランの機能とCI/CDの使用時間を50,000分まで提供しています。これらのプログラムの対象となる場合は、それぞれのプログラムページから申請することを検討してください。

## オープンソースプロジェクト、教育機関、スタートアップ企業向けのプログラムでは、CI/CDの使用時間の上限は変更されません

[オープンソースプロジェクト](https://about.gitlab.com/solutions/open-source/program/)、[教育機関](https://about.gitlab.com/solutions/education/)、[スタートアップ企業](https://about.gitlab.com/solutions/startups/)向けのプログラムのメンバーは、CI/CDの使用時間の上限は**変更**されず、GitLabの[Goldプラン](/pricing/)と同じ上限が適用されます。これらのプログラムの詳細と申し込み方法については、関連するプログラムのページを参照してください。

## 詳細情報

詳しくは[よくある質問](https://about.gitlab.com/pricing/faq-consumption-cicd)をご覧ください。

皆様からのご質問やご意見にお応えするため、[GitLabコミュニティフォーラム](https://forum.gitlab.com/t/ci-cd-minutes-for-free-tier/40241)にスペースを用意しました。この変更に関わるGitLabチームメンバーやプロダクトマネージャーが、このスペースを積極的に監視しています。
