---
layout: markdown_page
title: "Atlassian Bitbucket"
---
<!-- This is the template for defining sections which will be included in a tool comparison page. This .md file is included in the top of the page and a table of feature comparisons is added directly below it. This template provides the sections which can be included, and the order to include them. If a section has no content yet then leave it out. Leave this note in tact so that others can see where new sections should be added.

## Summary
   - minimal requirement <-- comment. delete this line
## Strengths
## Gaps
## Who buys and why
## Comments/Anecdotes
   - possible customer issues with product  <-- comment. delete this line
   - sample benefits and success stories  <-- comment. delete this line
   - date, source, insight  <-- comment. delete this line
## Resources
   - links to communities, etc  <-- comment. delete this line
   - bulleted list  <-- comment. delete this line
## FAQs
 - about the product  <-- comment. delete this line
## Integrations
## Pricing
   - summary, links to tool website  <-- comment. delete this line
### Value/ROI
   - link to ROI calc?  <-- comment. delete this line
## Questions to ask
   - positioning questions, traps, etc.  <-- comment. delete this line
## Comparison
   - features comparison table will follow this <-- comment. delete this line

<!------------------Begin page additions below this line ------------------ -->

## このページのコンテンツ
{:.no_toc}

- TOC
{:toc}

## 概要

<div class="sdlc-component-container">
  <%= partial "includes/atlassian_comparison_tabs_vue" %>
</div>

## 要約
Atlassian Bitbucket は、チームに Git コード管理を提供するだけでなく、プロジェクトの計画、コードの共同作業、テスト、デプロイを行う場所を提供します。SaaS型（Bitbucket Cloud）とセルフマネージド型（Bitbucket Server）で販売されていますが、同じ製品ではありません。Bitbucket Serverは単純に[Stashのリブランディング](https://www.atlassian.com/blog/archives/atlassian-stash-enterprise-git-repository-management)です。2つの製品は、2つの異なる言語（[SaaS型はPython、セルフマネージド型はJava](https://en.wikipedia.org/wiki/Bitbucket)）で書かれた全く異なるコードベースであり、機能の同一性を維持していません。コードベースが別々なので、それぞれが全く異なるAPIを持っているため、統合するのが非常に難しくなっています。

BitbucketはMercurialやGitをサポートしていますが、SVNはサポートしていません。GitLabはMercurialやSVNをサポートしていません。
GitLabは、プロジェクト管理、ソースコード管理、CI/CD、モニタリングなどを内蔵し、オールインワンのアプリケーションとして提供される完全なDevOpsプラットフォームです。Bitbucketはソースコードの管理機能だけを提供します。プロジェクト管理には Atlassian Jira を使用し、CI/CDにはBambooを使用する必要があります。Atlassian はモニタリングソリューションを提供していません。さらに、GitLab Ultimateには、SAST、DAST、コンテナスキャン、依存性スキャン、ライセンスコンプライアンス、機密情報の検出などの強固な組み込みセキュリティ機能が搭載されています。Bitbucketはこれらの機能をサポートしておらず、Atlassianはこれらの機能をサポートする製品を持っていません。

また、GitLabは「オンプレミス」のセルフマネージド版と「クラウド」のSaaS版も提供しています。GitLab は、セルフマネージド版とSaaS版で、まったく同じソースコードを使用しています。これは、顧客がセルフマネージド版からSaaS版への移行を比較的簡単に行うことができ、相互に同等性の機能を維持していることを意味します。

GitLabは、この5年間で[世界中のインターネット検索](https://trends.google.com/trends/explore?date=today%205-y&q=bitbucket,gitlab)からの関心が高まっています。（DevOpsへの強い関心を示唆しています）
<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1845_RC03/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"bitbucket","geo":"","time":"today 5-y"},{"keyword":"gitlab","geo":"","time":"today 5-y"}],"category":0,"property":""}, {"exploreQuery":"date=today%205-y&q=bitbucket,gitlab","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>

2018年から2019年にかけて、バージョン管理システムとしてのGitLabの採用率が21%増加したのに対し、Atlassian Bitbucketの採用率は11%減少しています。これは、Jetbrains Developer Ecosystemの[The Next Stack's analysis](https://pbs.twimg.com/media/EGoXqXeXUAE_Dva.png)が出典です。

## 不足部分
* Bitbucketのネイティブ機能を拡張するには、プラグインを使用します。プラグインの維持・セキュリティ・アップグレードにはコストがかかります。対照的に、GitLabは[オープンコア](https://about.gitlab.com/2016/07/20/gitlab-is-open-core-github-is-closed-source/)であり、誰もが直接コードベースに変更を投稿することができ、一度マージされれば変更のたびに自動的にテストされ、メンテナンスされます。

## AtlassianのBitbucket比較ページへの反応

Atlassianには[BitbucketとGitLabの比較ページ](https://bitbucket.org/product/comparison/bitbucket-vs-gitlab)があります。今回のアップデートは、正しい製品提供が比較されていることを確認するためのものです（GitLab.com、GitLabセルフマネージド、Bitbucket Cloud、Bitbucket Serverなど）。
* クラウドへの対応 - このサイトでは、GitLab はクラウドのために作られたものではないと主張していますが、これはいささか誤解を招くものです。GitLabは、GitLab.comのような「クラウド」環境をはじめとする、様々な環境で動作するように構築されたオールインワンアプリケーションです。さらに、GitLab.com のようにデプロイ時のダウンタイムをゼロにすることも可能です。また、Bitbucket CloudとBitbucket Serverは、異なるアーキテクチャ（つまりコードベース）であり、機能的にも分離しています。詳しくは[Bitbucket Rebrand FAQ（2018年1月更新）](https://confluence.atlassian.com/bitbucketserver/bitbucket-rebrand-faq-779298912.html?_ga=2.68100121.980444013.1542263978-1592705151.1523946360)をご覧ください。
* クラス最高の JIRA 連携 - Bitbucket が最高の JIRA との連携を提供していることは最もなことです。GitLabは計画からモニタリングまでをカバーするオールインワンアプリケーションであり、GitLabの課題管理機能はアイデア管理、反復計画、課題追跡、ソフトウェア開発のための強力なツールとなっています。しかし、多くの組織が長年JIRAを使用しており、既存のデータやビジネスプロセスが組み込まれていることを認識しています。私たちの目標は、GitLab を JIRA とシームレスに連携させ、可能な限り最高の統合を提供し、現在の Atlassian スイートが提供するものよりも優れたものにすることです。詳細は [JIRA 連携ページ](https://about.gitlab.com/solutions/jira/)をご覧ください。
* [Code Aware Search Beta](https://bitbucket.org/blog/introducing-code-aware-search-for-bitbucket-cloud?_ga=2.131692365.35318360.1558109698-1703890985.1558109698) - Code Aware Searchは、検索用語にマッチする定義が用途や変数名よりも優先されるようにする機能です。GitLabには現在この機能はありませんが、[GitLab 11.1のリリース](https://about.gitlab.com/blog/2018/07/22/gitlab-11-1-released/)ではコード検索をより良いものにしました。高度な検索構文の強化により、ファイル名、パス、拡張子でフィルタリングできるようになり、適切なファイルを素早く見つけられるようになりました。
* Mercurial - サポートします。上記の「概要」の項目を参照してください。
* Bitbucket UIアドオン連携 - N/A


## コメント/逸話
* Bitbucket CloudとBitbucket Server/Data Centerは2つの異なる製品であり、Atlassianはクラウドの方に注力しているという証拠:
   * Atlassianからの情報、Bitbucket CloudとBitbucket Serverは異なるアーキテクチャ（つまりコードベース) であり、機能的に分離ています。これは、彼らの[Bitbucket Rebrand FAQ（2018年1月更新）](https://confluence.atlassian.com/bitbucketserver/bitbucket-rebrand-faq-779298912.html?_ga=2.68100121.980444013.1542263978-1592705151.1523946360)で触れられています。
   * 最近の[HackerNewsの記事](https://news.ycombinator.com/item?id=17909454)より
   > アトラシアンはクラウド製品への移行を望んでいます。Bitbucket Serverは、彼らの収益を悪化させると考えられるので、将来的にあなたはBitbucket Cloudへの切り替えを強く勧められるでしょう。
   * 顧客からの要望の多かった機能に対応するため、AtlassianがBitbucket ServerとBitbucket Cloudの間の格差を認識するまでに2年以上を要しました。顧客は、Bitbucket Cloudに移行してからBitbucket Cloudにはない機能がBitbucket Serverに存在していたことを知りました。[2018年第4四半期時点で未解決](https://bitbucket.org/site/master/issues/12833/branching-models-for-bb-cloud#comment-45982415)
   * Stash ServerからBitbucket Serverに変更されて以降の、リリースごとの新機能と機能対保守率の[分析](https://docs.google.com/spreadsheets/d/1BnxRkNKytRcEnKqlnCyJFy_B6swjGyLdcwGi9bg32PY/edit#gid=0)によると、イノベーションが減少傾向にあることがわかります（[データはAtlassian Bitbucket Server Release Notesより引用](https://confluence.atlassian.com/alldoc/bitbucket-server-documentation-directory-278071997.html)）
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <body><center>
               <a href="/devops-tools/bitbucket/bitbucket_new_feature_graph.png" target="_blank">
                <img src="/devops-tools/bitbucket/bitbucket_new_feature_graph.png" alt="Bitbucket Serverの新機能グラフ" style="width:85%;">
               </a>
            </center></body>

* [Atlassianがベンチマークを許可していないというHackerNewsの記事](https://news.ycombinator.com/item?id=18103162#18103813)からの議論
   > AtlassianはToSや以前のEULAで製品の性能について語ることを常に禁止してきました。みんな理由はわかっていても、それについては話しません。


## リソース
* [Atlassian Bitbucketのウェブサイト](https://bitbucket.org/product)

## 料金
- [Bitbucket Cloud](https://bitbucket.org/product/pricing?tab=#tab-5834cfd9-fbc0-4f21-ae10-65832598b12a)
   * Freeプラン - $0 - 無制限のプライベートリポジトリ、Jiraソフトウェア統合、プロジェクトパイプライン（ビルド50分/月）、ファイルストレージ1GB/月
   * Standardプラン - $2/ユーザー/月 (最低$10/月) - Freeプランと同じ機能 + ビルド500分/月 + ファイルストレージ5GB/月
   * Premiumプラン - $5/ユーザー/月 (最低$25/月) - Standardプラン + いくつかの高度な機能 + ビルド1000分/月 + ファイルストレージ10GB/月

- [Bitbucket Server / Data Center](https://bitbucket.org/product/pricing?tab=#tab-db2f88e8-2388-4417-8e4f-6a7205437cc7)
   * Server - $2,000からの永久利用 (25ユーザー、ユーザー毎のコストは上位プランへ上げる毎におよそ2倍に増加)、年間メンテナンス、単一サーバー、無制限のプライベート+パブリックリポジトリが含まれる
   * Data Center - $1800/年 (25ユーザー、ユーザー毎のコストは上位のプランへ上げる毎におよそ2倍に増加
      ) 年間メンテナンス、HAサーバー、DR、ミラーリング、SAML 2.0が含まれる
   * 2,000ユーザー以上はData Centerを購入する必要があります。

## 比較
