---
layout: default
title: Community EditionとEnterprise Editionの違い
description: ライセンスがないGitLab Enterprise Editionをインストールして使用することと、Community Editionをインストールして使用することに表面的な違いはありませんが、Enterprise Editionには有利な点があります。
sponsor_bar: true
extra_css:
  - installation.css
extra_js:
  - installation-ce.js
---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 Community EditionとEnterprise Editionの違い
  #content
    .wrapper.container{role: "main"}
      .method
        .method-content
          %ul
            %li
              %h2.block-title はじめに
              %p
                もしもGitLabに興味があるのなら、
                たとえ将来的にGitLab Enterprise Edition(以下、GitLab EE)のライセンスを購入するかどうかわからない場合であっても、
                GitLab EEをダウンロードしてインストールすることを推奨します。
                なぜならば、ライセンス登録を行わくても、GitLab Community Edition(以下、GitLab CE)のすべての機能を使用することができるからです。

              %h2.block-title ライセンスモデル
              %p
                GitLabはオープンコアモデルで開発が行われています。すなわち、GitLabには2つのディストリビューション(GitLab CEとGitLab EE)が存在します。
              %p
                GitLab CEはMITライセンスのもと開発されているオープンソースソフトウェアです。GitLab EEはGitLab CEをベースに開発されています。
                つまり、GitLab EEはGitLab CEと共通の<i>ソースコード</i>を利用していて、有料の追加機能を提供しています。これはプロプライエタリなライセンスのもと配布されます。
              %p
                両バージョン共通: GitLabのすべてのjavaScriptコードはオープンソースであり、MITライセンスのもと配布されます。
                すなわち、SaaSのGitLab.comを利用する際に、プロプライエタリなコードがローカルにダウンロードされる心配はありません。
                そのため、リポジトリのホスティング先の選定基準の厳しい、GNUプロジェクトのリポジトリのホスティング先としても利用することが可能です。
                (参考:
                %a{href: 'https://www.gnu.org/software/repo-criteria-evaluation.html', target: '_blank'}
                  GNU Ethical Repository Criteria Evaluations
                  %i{ class: "fas fa-external-link-alt" }
                )

              %h2.block-title GitLab EEを使用する理由
              %p
                GitLab EEの有料の機能を使用可能にするためには、ライセンスを購入する必要があります。
                もしもライセンスが未登録のGitLab EEを使用している場合は、MITライセンスの無料の機能だけを使用していることになります。
              %p
                つまり、GitLab EEをインストールしてライセンスを未登録のまま使用することと、GitLab CEをインストールして使用することに表面的な違いはありません。
                しかし、GitLab EEには有利な点があります。
              .about-ce
                %ol
                  %li
                    %p
                      不意にGitLab EEの機能を試してみたくなった場合でも、新しいインスタンスを用意したり、既存のインスタンスをアップグレードする必要はありません。
                      GitLab EEの機能のトライアルを有効にするだけで、試すことができます。
                      もしもGitLab EEの機能に満足しなかった場合は、トライアル期間の終了後、自動的にGitLab CEの機能だけの状態に戻ります。
                  %li
                    %p
                      GitLab CEインスタンスをGitLab EEインスタンスへアップグレードするには、ダウンタイムを伴うアップグレード手順に従う必要があります。
                      GitLab EEインスタンスを使用すれば、GitLab CEの機能だけの状態とGitLab EEのすべての機能が有効な状態を、ワンクリックで切り替えることができます。
              %p
                = succeed '。' do
                  %a#ee_link3{:title => '', :href => '/install/'}GitLab EEをインストールする

              %h2.block-title GitLab CEを使用する理由
              %p
                もしもオープンソースソフトウェアだけをダウンロードしたい場合は、GitLab CEは最良の選択です。このディストリビューションはプロプライエタリなコードを含んでいません。
                機能的には、ライセンスが未登録のGitLab EEと同等です。
              %p
                将来、GitLab EEへの移行する場合は、アップグレードが必要でありダウンタイムが発生する可能性に留意してください。
              %p
                = succeed '。' do
                  %a#ce_link{:title => '', :href => '/install/?version=ce'}GitLab CEをインストールする
