---
layout: markdown_page
title: "Jira Software"
---
<!-- This is the template for defining sections which will be included in a tool comparison page. This .md file is included in the top of the page and a table of feature comparisons is added directly below it. This template provides the sections which can be included, and the order to include them. If a section has no content yet then leave it out. Leave this note in tact so that others can see where new sections should be added.

## Summary
   - minimal requirement <-- comment. delete this line
## Strengths
## Weaknesses
## Who buys and why
## Comments/Anecdotes
   - possible customer issues with product  <-- comment. delete this line
   - sample benefits and success stories  <-- comment. delete this line
   - date, source, insight  <-- comment. delete this line
## Resources
   - links to communities, etc  <-- comment. delete this line
   - bulleted list  <-- comment. delete this line
## FAQs
 - about the product  <-- comment. delete this line
## Integrations
## Pricing
   - summary, links to tool website  <-- comment. delete this line
### Value/ROI
   - link to ROI calc?  <-- comment. delete this line
## Questions to ask
   - positioning questions, traps, etc.  <-- comment. delete this line
## Comparison
   - features comparison table will follow this <-- comment. delete this line

<!------------------Begin page additions below this line ------------------ -->

## このページのコンテンツ
{:.no_toc}

- TOC
{:toc}

## 概要

<div class="sdlc-component-container">
  <%= partial "includes/atlassian_comparison_tabs_vue" %>
</div>

## 要約
Jira Software is an issue tracker and agile project management application.
Portfolio for Jira Portfolio is a separate add-on that enables portfolio management in Jira Software.
Jira Service Desk is a separate application to enable IT and customer service capablilities.
Jira Core is a scaled down version of Jira Software that contains the general project management capabilities without the software and agile-specific functionality of Jira Software.

Jira is available via 3 deploment models:

- Cloud: SaaS version of Jira hosted and managed by Atlassian
- Server: self-managed version that can be deployed on a single server
- Data Center: self-managed version that can be deployed to multiple servers for high availability.

## 不足部分

* Extending the native functionality of Jira is done through plugins. Plugins are expensive to maintain, secure, and upgrade. In contrast, GitLab is [open core](https://about.gitlab.com/blog/2016/07/20/gitlab-is-open-core-github-is-closed-source/) and anyone can contribute changes directly to the codebase, which once merged would be automatically tested and maintained with every change.

## コメント/逸話
* From [customer comment](https://gitlab.com/gitlab-org/gitlab-ce/issues/50478#note_95584769) on why they won't switch from Jira:
   > Probably some of these features could be worked around in GitLab (e.g. by using labels exclusively). In particular for our organization we have been using Jira for much longer than GitLab. Migrating to another issue tracking system for existing project would be less than trivial, i.e. if one wants to maintain the history.
* From [HackerNews JIRA customer](https://news.ycombinator.com/item?id=18145109) about JRA and how it makes their developers feel:
   -
      > Agreed that the problem isn't directly Jira, but (anecdotally maybe) there seems a clear correlation between Jira and unhappy developers who feel their tracker has way too much process. Jira doesn't cause the root problem, but Atlassian are profiting from it existing, and so maybe people are encouraged to use it in those ways. I'm not letting it off the hook so easily.

   -
      > JIRA makes it dangerously easy to implement overly bureaucratic processes. A certain kind of organization is drawn to it for that reason. Even a healthy organization switching to JIRA can get carried away with the tools now at its disposal.

## リソース
* [Jira Software](https://www.atlassian.com/software/jira)
* [Jira Portfolio](https://www.atlassian.com/software/jira/portfolio)
* [Jira Service Desk](https://www.atlassian.com/software/jira/service-desk)
* [Jira Core](https://www.atlassian.com/software/jira/core)


## Integrations
GitLab has [Jira integration](https://about.gitlab.com/solutions/jira/) that allows Jira Software to be used as an issue tracker for the planning stage while using GitLab for the rest of the DevOps lifecycle: source code management, CI/CD, and monitoring.

## 料金
[Jira Software pricing](https://www.atlassian.com/software/jira/pricing)
- Cloud
   - Flat $10 per month for up to 10 users
   - $7 per user/month for 11-100 users
- Server: $3,600 one-time payment (50 users)
- Data Center: $12,000 per year (500 users)

[Portfolio for Jira pricing](https://www.atlassian.com/software/jira/portfolio/pricing)
- Cloud
   - Flat $10 per month for up to 10 users
   - $3.50 per user/month for 11-100 users
- Server: $9,900 one-time payment (500 users)
- Data Center: n/a

[Jira Service Desk pricing](https://www.atlassian.com/software/jira/service-desk/pricing)
- Cloud
   - Flat $10 per month for up to 3 agents
   - $20 per agent/month
- Sever: $13,200 one-time payment (50 agents)
- Data Ceneter: $60,000 per year (500 agents)

[Jira Core pricing](https://www.atlassian.com/software/jira/core/pricing)
- Cloud
   - Flat $10 per month for up to 10 users
   - $5 per user/month for 11-100 users
- Small teams: $10 One-time payment for up to 10 users
- Growing teams: $13,200 one-time payment (500 users)

## 比較

A few missing features in GitLab that JIRA has from [this comment](https://gitlab.com/gitlab-org/gitlab-ce/issues/50478#note_95584769)
- The concept of "Components" with a configurable set of default assignee's and associate component watchers (this is separate from "Labels", which also exist in Jira)
- Multiple issue types
- Configurable set of fields and screens for each issue type
- Workflow definition (e.g. allowed transitions for each issue status) for each issue type
- Fine-grained notifications control for each issue action
