@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

body {
  background-color: rgba($color-primary, .23);
}

.training-picture-container {
  position: relative;
  width: 100%;
  min-height: 500px;
  overflow: hidden;
  background: url("/images/bg/bg_training.png") no-repeat center center;
  background-size: cover;
}

.training-overlay {
  background: rgba($color-primary, .9);
  min-height: 500px;
}

.training-content {
  padding-top: 76px;
  color: $color-white;
  width: 50%;
  margin-left: 25%;

  li {
    text-align: left;
    font-size: 15px;
  }

  h2 {
    color: $color-gray-light;
    font-weight: 300;
    font-size: 24px;
    margin-top: 10px;
  }

  h3 a {
    color: $color-secondary-alt;
  }

  p {
    font-size: 18px;
    font-weight: normal;
  }

  h3,
  h4 {
    color: $color-secondary-alt;
  }

  a {
    color: $color-white;
  }

  .training-block {
    border-radius: 3px;

    &:hover {
      .row {
        background-color: rgba($color-white, .1);
        border-color: transparent;
        border-radius: 3px;
      }
    }

    p,
    ul {
      color: $color-white;
    }

    p {
      margin: 0 0 20px;
    }

    path {
      fill: $color-secondary-alt;
    }

    svg {
      margin-top: 25px;

    }

    @media (min-width: $screen-sm-max) {
      svg {
        width: 96px;
        height: 96px;
      }
    }
  }
}

.training-form {
  color: $color-white;
  margin-top: 25px;

  @media (max-width: 1066px) {
    margin: 0;
    width: 100%;

    li {
      font-size: 13px;
      background-size: cover;
    }

    .action {
      margin: 3% 0% 0 15%;
    }
  }
}
