!!! 5
%html{lang: "ja"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav", offset: "90"}}
    .page-wrap
      = partial 'includes/google/gtm'
      = partial "includes/layout/header"

      .blank-header
        %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg", alt: "Gitlab hero border pattern left svg" }
        %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg", alt: "Gitlab hero border pattern right svg" }
        .header-content
          %h1
            DevOps ツールの俯瞰図
          :markdown
            世の中にはたくさんのDevOpsツールがあります。GitLabは、DevOpsライフサイクル全体をカバーするオールインワンのアプリケーションです。
            GitLabを採用することで、DevOpsを成功させるのに必要な、多数のツールの選択・統合・学習・維持に必要なコストを削減できます。
            しかし、GitLabは、ここに挙げたツールのすべての機能を網羅しているわけではありません。
            DevOps ツールをクリックすると、GitLab と比較することができます。

      .comparison-container.full-post
        .container.comparison-table
          .comparison-page-content.col-sm-12
            = yield

      .content-container.text-center{ style: "border-top: 1px solid #d7d7d7; color: #777" }
        .container
          %em
            GitLabはGitLab, Inc.の商標です。その他すべてのロゴおよび商標は、それぞれの所有者のロゴおよび商標です。

      = partial "includes/layout/footer"
