!!! 5
%html{lang: "ja", class: 'html--no-js'}
  %head
    = partial "includes/layout/head"
  %body{:data => {:spy => "scroll", :target => ".qnav", offset: "90"}}
    = partial 'includes/google/gtm'
    = partial "includes/layout/header"
    = partial "includes/layout/headline"
    = yield

  - if current_page.data.sponsor_bar
    = partial "includes/gitlab_jp/sponsor_bar"

  = partial "includes/layout/footer"
