!!! 5
%html{lang: "ja", class: 'html--no-js'}
  %head
    = partial "includes/layout/head"
  %body{:data => {:spy => "scroll", :target => ".qnav", offset: "90"}}
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    = yield
    = partial "includes/layout/footer"
