<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= partial "includes/layout/head" %>
    <%= stylesheet_link_tag "handbook" %>
    <%= stylesheet_link_tag "navigation-helpers" %>
  </head>
  <body data-spy="scroll" data-target=".qnav">
    <%= partial "includes/google/gtm" %>
    <%= partial "includes/layout/header" %>
    <%= partial "includes/layout/headline" %>
    <div class="wrapper sidebar-layout-wrapper clearfix">
      <aside class="tocs-sidebar">
      </aside>
      <div class="<%= (current_page.data.page_class if current_page.data.page_class) %> container md-page">
        <ol class="breadcrumb">
          <li>You are here:</li>
          <%= breadcrumbs(current_page) %>
        </ol>
        <div class="hidden-md hidden-lg">
        </div>
        <%= yield %>
      </div>
    </div>
    <%= partial "includes/layout/footer" %>
    <%= javascript_include_tag "generate-navigation-helpers.js", "data-cookieconsent": "ignore" %>
  </body>
</html>
