!!! 5
%html{lang: "ja"}
  %head
    = partial "includes/layout/head"
  %body
    = partial "includes/google/gtm"
    = partial "includes/layout/header"
    .sponsor-header.flex-container.flex-column.justify-center.align-center.full-width
      .sponsor-logo-container.flex-container.justify-center.align-center
        = image_tag "#{sponsor.image}", id: "sponsor-logo", alt: "#{sponsor.name} logo"
      - if sponsor.social
        .social-links-container.flex-container.justify-center
          - sponsor.social.each do |social|
            - if social.type == 'other' or social.type == 'rss'
              - if social.type == 'rss'
                %a.social-link{href: "#{social.url}", target: "_blank"}
                  %i.fas.fa-rss
              - else
                %a.social-link{href: "#{social.url}", target: "_blank"}
                  %i.fas.fa-globe
            - else
              %a.social-link{href: "#{social.url}", target: "_blank"}
                %i{class: "fab fa-#{social.type}"}
    .sponsor-content-container.flex-container.full-width
      .sponsor-contact-container.flex-container.flex-column
        - sponsor.contact.each do |contact|
          .full-width
            - if contact.address
              %p
                %i.fas.fa-map-marker-alt
                = contact.address
            - if contact.phone
              %p
                %i.fas.fa-phone
                = contact.phone
            - if contact.website
              %p
                %i.fas.fa-globe
                %a{href: "#{contact.website}", target: "_blank"}
                  = contact.website
            - if sponsor.email
              %p
                %i.fas.fa-envelope.envelope
                %a{href: "mailto:#{sponsor.email}"}
                  = sponsor.email
      .sponsor-description-container.full-width
        %p
          = sponsor.content

    = partial "includes/layout/footer"

    %script{ src: "/javascripts/gitlab_jp/sponsor.js", type: "text/javascript" }
