.sticky-banner.js-sticky-banner.active#sticky-banner
  .sticky-banner-content#sticky-banner-content
    .sticky-banner-text
  = image_tag "/images/icons/x.svg", id: "dismiss-trial", class: "dismiss-trial", alt: "Gitlab x icon svg"
:javascript
  (function() {
    var trialDismissed = false
    document.getElementById("dismiss-trial").addEventListener("click", dismissTrial)
    function dismissTrial() {
      document.getElementById('sticky-banner').style.display = "none";
    }

    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }

    var banners = [
      {
        "title": "GitLab無償版への日本語サポートの提供を開始",
        "subTitle": "提供内容の詳細はお問い合わせください。",
        "link": "https://www.creationline.com/gitlab/pricing",
      },
      {
        "title": "GitLab有償版ライセンスを購入する",
        "subTitle": "2022年10月19日に無償版SaaS Freeでの利用は5ユーザーまでに制限されます。",
        "link": "https://www.creationline.com/contact?_product_page=gitlab",
      },
      {
        "title": "GitLabコンサルティングの提供を開始",
        "subTitle": "GitLabの導入支援やCI/CDパイプラインの設計など、詳細はお問い合わせください。",
        "link": "https://www.creationline.com/gitlab/casestudy",
      },
      //{
      //  "title": "[無料] GitLab CI/CDハンスオンウェビナーを開催",
      //  "subTitle": "GitLab MVP受賞者から学べるチャンス！お申し込みは2023年1月4日まで",
      //  "link": "https://service.creationline.com/230111_gitlab-hands-on-webinar",
      //},
      //{
      //  "title": "GitLabトレーニングを開催",
      //  "subTitle": "GitLabスキル底上げトレーニング！お申し込みは2023年3月8日まで",
      //  "link": "https://www.creationline.com/gitlab-training",
      //},
      //{
      //  "title": "Gitトレーニングを開催",
      //  "subTitle": "Gitスキル底上げトレーニング！お申し込みは2023年1月17日まで",
      //  "link": "https://www.creationline.com/git-training",
      //},
    ]

    var selectedIndex = getRandomInt(banners.length);
    var banner = banners[selectedIndex];

    var content = document.getElementById('sticky-banner-content');

    var text = document.createElement('div');
    text.className = 'sticky-banner-text';

    var headerText = document.createElement('p');
    headerText.className = 'header-text';

    var link = document.createElement('a');
    link.text = banner.title;
    link.href = banner.link;

    headerText.appendChild(link);

    var subText = document.createElement('p');
    subText.className = 'subheader-text';

    var subTextNode = document.createTextNode(banner.subTitle);

    subText.appendChild(subTextNode);

    text.appendChild(headerText);
    text.appendChild(subText);

    content.appendChild(text)
  })();
