.sticky-banner.js-sticky-banner.active#sticky-banner
  .sticky-banner-content
    .sticky-banner-text
      %p.header-text
        = link_to "https://www.creationline.com/gitlab-training", target: "_blank" do
          オンライン「GitLabトレーニング（初級）」申し込み受付中
      %p.subheader-text
        開催日: 2020年9月8日(火)・9日(水) / 10月6日(火)・7日(水)
  = image_tag "/images/icons/x.svg", id: "dismiss-trial", class: "dismiss-trial", alt: "Gitlab x icon svg"
:javascript
  (function() {
    var trialDismissed = false
    document.getElementById("dismiss-trial").addEventListener("click", dismissTrial)
    function dismissTrial() {
      document.getElementById('sticky-banner').style.display = "none";
    }
  })();
