---
layout: markdown_page
title: "FY20 Focus Areas"
---


![Today and Tomorrow](Depth20.png)

## プロジェクト管理
Things like issue tracking and issue boards, really competing with Jira and Trello

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/cVC8bcV8zsQ" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

## CD/RA
Continuous delivery and release automation - eg., deploying to Kubernetes, but
really helping everyone automate their delivery and release processes

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/Xw1PSEmtVwE" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

## Application Security Testing
Static and dynamic application security testing, dependency scanning, etc.

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/k4vEJnGYy84" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

## バリューストリーム管理
Understanding your teams work and their workflow on their way to delivering value to customers

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/Gq4aL0oszSw" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
