---
layout: default
title: リリース情報 - アーカイブ
---

.blog.archives
  .wrapper
    .section
      %ul
        - blog("releases").articles.each do |post|
          %li
            - if post.date
              %time
                = post.date.to_time.strftime '%Y年%m月%d日'
            = link_to post.url do
              = post.title
