---
layout: comparison_main_page
sponsor_bar: true
title: GitLabと他のDevOpsツールの比較
description: "GitLabと他のDevOpsツールを比較しています。 それぞれの長所と短所を確認して、簡易的な判断材料として使用してください。"
canonical_path: "/devops-tools/"
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- devops_tools = data.features.devops_tools
= partial "includes/home/sdlc-alt"
