---
layout: comparison_page
sponsor_bar: true
description: "このページでは、GitLabとその他のツールの機能を比較しています。 それぞれの長所と短所を確認して、簡易的な判断材料として使用してください。"
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - bootstrap-tooltip.js
---

- product_one = data.features.devops_tools[key_one]
- product_two = data.features.devops_tools[key_two]
- content_for(:title){ product_one.name + "とGitLabの比較" }

.row
  .col-md-12
    %a{href: '/devops-tools/'}
      ← DevOpsツールページに戻る

.row.margin-top50
  - if product_one.summary.present?
    .col-md-10.col-md-offset-1.margin-bottom30
      = kramdown(product_one.summary)
  - if product_one.include_file.present?
    .col-md-10
      = partial product_one.include_file

%table.compare-table.comparing-gitlab
  %colgroup
    %col{:width => "80%"}
    %col{:width => "10%"}
    %col{:width => "10%"}
  %thead
    %tr
      %th.text-left.table-title
        機能
      %th.text-center.table-title-logo
        - if (product_one.logo != "null")
          = image_tag "#{product_one.logo}", alt: "#{product_one.name}", class: "logo"
        - else
          = product_one.name
      %th.text-center.table-title-logo
        = image_tag "/images/devops-tools/gitlab-logo.svg", alt: "GitLab", class: "logo"
  %tbody.header.first
    - data.features.features.each do |feature|
      - shared_feature = (feature.public_send(key_one) != nil && feature.public_send(key_two) != nil)
      - if shared_feature
        %tr
          %td.feature-in-list
            %p.feature-in-list-title.feature-contents
              %strong= feature.title
              - if defined?(feature)
                = partial "includes/features/badges", locals: { tier_hash: serialize_tier_hash(feature), gitlab_com: feature.gitlab_com, is_dark: true }
            %p
              = kramdown(feature.description)
            %p
              = link_to feature.link_description, feature.link
          %td.check-container.text-center
            - if feature
              = partial "includes/features/feature-item-support", locals: { feature_support: feature.public_send(key_one) }

          %td.check-container.text-center
            - if feature
              = partial "includes/features/feature-item-support", locals: { feature_support: feature.public_send(key_two) }

.last-updated-section.text-center
  %p.clearfix
    * このページの情報は最新ではありません。最新の情報は
    = link_to "https://about.gitlab.com/devops-tools/#{key_one.dup.tr('_', '-')}-vs-gitlab.html", target: "_blank" do
      公式サイト
      %i{ class: "fas fa-external-link-alt" }
    をご確認ください。
