@import "../vendor/bootstrap/bootstrap/variables";
@import "../variables";

body {
  background: $body-bg;
}

.sponsor-logo-container {
  @media all and (max-width: $screen-md-min) {
    flex-direction: column;
  }
}

.gitlab-logo {
  height: 120px;
  margin-right: 40px;

  @media all and (max-width: $screen-md-min) {
    margin-right: 0;
    margin-bottom: 40px;
  }

}

.x-icon {
  margin: 40px;
}

.sponsor-header {
  padding: 80px 40px;
  padding-bottom: 62px;
  background: $body-bg;
  border-bottom: 1px solid $color-gray-extra-light;

  h1 {
    margin: 0;
  }

  .social-links-container {
    margin-top: 22px;

    .social-link {
      font-size: 20px;
      padding: 18px;
      color: $color-black;
      opacity: .4;

      @media all and (max-width: $screen-md-min) {
        font-size: 1.6em;
      }

    }

    .social-link:hover {
      opacity: 1;
      color: $color-black;
    }

  }

  @media all and (max-width: $screen-md-min) {
    padding: 40px;
    padding-bottom: 22px;
  }

}

.sponsor-contact-container {
  width: calc(50% - 100px);
  min-width: 300px;
  margin-right: 40px;
  flex-shrink: 0;

  div {
    border-radius: $border-radius-large;
    background: $color-white;
    box-shadow: 0 2px 4px $color-transparent-alt;
    padding: 40px;
    margin-bottom: 40px;

    @media all and (max-width: $screen-md-min) {
      padding: 30px;
      margin-bottom: 20px;
    }

  }

  i {
    font-size: 20px;
    width: 20px;
    text-align: center;
    margin-right: 10px;
    color: $color-gray-medium;
  }

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    font-size: 16px;
  }

  .envelope {
    font-size: 1em;
  }

  @media all and (max-width: $screen-md-min) {
    width: 100%;
    min-width: 100%;
    margin-right: 0;
  }

}

.sponsor-content-container {
  max-width: 1400px;
  margin: 60px auto;
  margin-bottom: 180px;
  padding: 0 200px;

  p {
    line-height: 1.6;
  }

  @media all and (max-width: $screen-lg-min) {
    padding: 0 80px;
  }

  @media all and (max-width: $screen-md-min) {
    flex-wrap: wrap;
    margin: 20px auto;
    padding: 0 20px;
  }

}
