- if current_article
  - prev_article = current_article.article_previous
  - next_article = current_article.article_next

  - if prev_article || next_article
    %nav{ "aria-label" => "Blog post pager" }
      %ul.pager
        - if prev_article
          %li.pull-left
            = link_to prev_article.url, title: prev_article.title do
              %i.fa.fa-chevron-left
              前の記事
        - if next_article
          %li.pull-right
            = link_to next_article.url, title: next_article.title do
              次の記事
              %i.fa.fa-chevron-right
