%footer.footer
  = partial "includes/logos/footer_logo.svg"
  .animated.container
    = partial "includes/layout/footer-social-media"
    .footer-links-container
      .footer-link-holder
        %ul.animated.footer-links
          %li
            = link_to('このサイトについて', '/about/', class: 'footer-nav-link')
      .footer-link-holder
        %ul.animated.footer-links
          %li
            = link_to('プライバシーポリシー', '/privacy-policy/', class: 'footer-nav-link')

.animated.text-center.source-link
  .edit-on
    = link_to('このページを編集', edit_page_url, class: 'external-source-link', target: '_blank')
    &mdash;
    = link_to('貢献', contributing_url, class: 'external-source-link', target: '_blank') + 'をお願いします'
    = partial "includes/cc-license"
  .warning
    このページの情報は古くなっている可能性があります。
    最新の情報は
    = link_to('本家サイト', 'https://about.gitlab.com/', class: 'external-source-link')
    でご確認ください。

= partial "includes/layout/scripts"
