%ul
  %li{class: ("menu-item-active" if current_page.url == "/stages-devops-lifecycle/")}
    %a.main-nav-link{href: "/stages-devops-lifecycle/"}
      製品
  %li{class: ("menu-item-active" if current_page.url == "/pricing/")}
    %a.main-nav-link{href: "/pricing/"}
      料金
  %li{class: ("menu-item-active" if current_page.url == "/install/")}
    %a.main-nav-link{href: "/install/"}
      インストール
  %li{class: ("menu-item-active" if current_page.url == "/links/")}
    %a.main-nav-link{href: "/links/"}
      リンク
  %li{class: ("menu-item-active" if current_page.url == "/blog/")}
    %a.main-nav-link{href: "/blog/"}
      ブログ
  %li{class: ("menu-item-active" if current_page.url == "/sponsors/")}
    %a.main-nav-link{href: "/sponsors/"}
      スポンサー
