---
layout: default
title: ブログ
comments: false
description: "GitLabに関する役立つ情報をお届けするブログです。"
extra_js:
  - blog-home.js
---

- articles = blog("blog").articles
.blog.list
  - unless articles.empty?
    .wrapper
      .section
        %h3
          最近のブログ記事
          = link_to "/blog.xml" do
            %i.fas.fa-rss

        = partial "includes/blog/list", locals: {articles: articles[0...2]}
        = partial "includes/blog/list", locals: {articles: articles[2...4]}
        = partial "includes/blog/list", locals: {articles: articles[4...6]}
        = partial "includes/blog/list", locals: {articles: articles[6...8]}
        = partial "includes/blog/list", locals: {articles: articles[8...10]}

    .wrapper
      .section
        %a.browse{href: "/blog/archives.html"} 過去のブログ記事を表示
