%h4
  1. 依存パッケージのインストールと設定
%p
- if platform.firewall_open
  = "#{platform.long_name}では、下記のコマンドでシステムファイアウォールのHTTPとHTTPSとSSHを開ける必要があります。これは任意のステップであり、ローカルネットワークからのみGitLabにアクセスする場合は省略することができます。"
%pre.command
  = platform.dependency_commands
  = platform.firewall_open
  %button{ copy_btn_options("#{platform.dependency_commands}\r\n#{platform.firewall_open}\r\n") }
    %i.fa.fa-clipboard
%p
  次に、メールの通知を送信するためにPostfixをインストールします。別の方法でメールを送信する場合はこのステップを飛ばし、GitLabのインストール後に
  %a{ href: "https://docs.gitlab.com/omnibus/settings/smtp.html", target: '_blank' }
    外部のSMTPサーバーを設定
    %i{ class: "fas fa-external-link-alt" }
  してください。
%pre.command
  = platform.postfix_commands
  %button{ copy_btn_options("#{platform.postfix_commands}\r\n") }
    %i.fa.fa-clipboard
%p
  Postfixのインストール中に設定画面が表示されます。その時は'Internet Site'を選択してEnterを押し、'mail name'にはサーバーの外部DNS名を入力してEnterを押してください。もしも追加の画面が表示される場合は、デフォルトのままEnterを押して続けてください。
%h4
  2. GitLabパッケージのリポジトリへの追加とインストール
%p
  GitLabパッケージをリポジトリに追加します。
%pre.command
  = "#{platform.download_command}\n"
  %button{ copy_btn_options("#{platform.download_command}\r\n") }
    %i.fa.fa-clipboard
%p
:markdown
  次に、GitLabパッケージをインストールします。
  `http://gitlab.example.com`の部分は、GitLabインスタンスのURLで置換してください。
  指定したURLでGitLabが起動するように、自動的に設定されます。

  URLの先頭が `https://` の場合は、GitLabは自動的に
  <a href="https://docs.gitlab.com/omnibus/settings/ssl.html#lets-encrypthttpsletsencryptorg-integration" target="_blank">
    Let's Encryptを利用して証明書を発行
    <i class="fas fa-external-link-alt"></i>
  </a>
  します。これには、インバウンドのHTTPアクセスと有効なホスト名が必要です。
  また、
  <a href="https://docs.gitlab.com/omnibus/settings/nginx.html#manually-configuring-https" target="_blank">
    独自の証明書を使用
    <i class="fas fa-external-link-alt"></i>
  </a>
  したり、`http://`（s抜きのURL）を使用することもできます。

  初期の管理者ユーザー（`root`）にカスタムパスワードを指定したい場合は、
  <a href="https://docs.gitlab.com/omnibus/installation/index.html#set-up-the-initial-password" target="_blank">
    ドキュメント
    <i class="fas fa-external-link-alt"></i>
  </a>
  を確認してください。パスワードが指定されていない場合は、ランダムなパスワードが自動的に生成されます。
%pre.command
  = "#{platform.install_commands}"
  %button{ copy_btn_options("#{platform.install_commands}") }
    %i.fa.fa-clipboard
%h4
  3. ブラウザでログイン
:markdown
  インストール時にカスタムパスワードを指定しなければ、パスワードがランダムに生成され、`/etc/gitlab/initial_root_password`に24時間保存されます。このパスワードとユーザ名`root`を使ってログインしてください。

  より詳しい情報は
  <a href="https://docs.gitlab.com/omnibus/README.html#installation-and-configuration-using-omnibus-package" target="_blank">
    インストールと設定の詳細なドキュメント
    <i class="fas fa-external-link-alt"></i>
  </a>
  を参照ください。
%h4
  4. GitLabからのお知らせの受信設定
%p
  GitLabの
  %a{ href: "https://about.gitlab.com/company/preference-center/", target: "_blank" }
    メール配信設定センター
    %i{ class: "fas fa-external-link-alt" }
  にアクセスして、GitLabからのお知らせを受け取るタイミングを設定してください。
  GitLabでは、メールのオプトインポリシーを明確に定めていますので、メールの送信方法や頻度を完全にコントロールすることができます。

%p
  月に2回、新機能、統合、ドキュメント、開発チームの裏話など、あなたが知りたいGitLabのニュースをお届けします。バグやシステムパフォーマンスに関連する重要なセキュリティアップデートについては、セキュリティ専用のニュースレターに登録してください。
:markdown
  重要な注意事項: セキュリティのニュースレターをオプトインしないと、セキュリティの警告を受け取ることができません。
  {: .alert .alert-warning}
%h4
  5. 推奨される次のステップ
%p
  インストールが完了したら、認証オプションやサインアップの制限など、
  %a{ href: "https://docs.gitlab.com/ee/install/next_steps.html", target: "_blank" }
    推奨される次のステップ
    %i{ class: "fas fa-external-link-alt" }
  を検討してください。

.display-extra-links
  %ul
    %li
      %a{ href: "https://docs.gitlab.com/omnibus/", target: "_blank" }
        トラブルシューティング
        %i{ class: "fas fa-external-link-alt" }
    %li
      %a{ href: "http://docs.gitlab.com/omnibus/manual_install.html", target: "_blank" }
        マニュアルインストール方法
        %i{ class: "fas fa-external-link-alt" }
    %li
      %a{ href: "/install/ce-or-ee/?distro=#{link_back}" }
        CE と EE
