---
layout: default
title: GitLabをダウンロードしてインストール
description: GitLabを様々な環境にインストールする方法を説明します。Omnibus packageを使用すると、GitLabをとても簡単にインストールすることができます。
suppress_header: true
sponsor_bar: true
extra_css:
  - installation.css
extra_js:
  - installation.js
  - libs/clipboard.min.js
  - bootstrap-tooltip.js
  - copy-button.js
---
.wrapper
  .blank-header
    = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
    = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
    .header-content
      %h1
        セルフマネージドGitLabをインストール
      %p
        オールインワンパッケージでインストールすることを強くお勧めします。
        また、GitLab を実行するためには、
        %a{:title => '', :href => 'https://docs.gitlab.com/ee/install/requirements.html#cpu', target: "_blank"}
          最低でも 4GB の空きメモリを用意すること
          %i{ class: "fas fa-external-link-alt" }
        を強くお勧めします。
  #content
    .wrapper.container{role: "main"}
      .method.omnibus
        - distros = ['Ubuntu', 'Debian', 'CentOS 8', 'CentOS 7', 'OpenSUSE Leap 15.2, 15.3', 'Raspberry Pi OS']
        - platforms = ['ubuntu', 'debian', 'centos8', 'centos7', 'opensuse', 'raspberrypi']
        - ce_only_platforms = { 'raspberry-pi-os' => true }
        - subtitles = ['18.04 LTS, 20.04 LTS', '9, 10', 'and RHEL, Oracle, Scientific', 'and RHEL, Oracle, Scientific', 'and SUSE Linux Enterprise Server 12.2, 12.5', 'and Raspbian Buster']
        - icons = ['ubuntu', 'debian', 'centos', 'centos', 'opensuse', 'raspberry-pi']
        .method-content
          %h2.block-title Community EditionとEnterprise Editionの違い
          %ul
            %li
              %p.text-center
                GitLab Enterprise Editionをインストールしてライセンスを未登録のまま使用することと、GitLab Community Editionをインストールして使用することに表面的な違いはありません。
                詳しくは
                %a{:tile => '', :href => '/install/ce-or-ee'}こちら
                を参照ください。
        .method-content
          %h2.block-title{id: "#omnibus"} オールインワンパッケージ (推奨のインストール方法)
          %p.text-center
            GitLab の実行に必要なサービスやツールをすべてバンドルした単一のパッケージでインストールします。
          %ul.flex-tile-list
            - distros.each_with_index do |distro, index|
              - ce_platform = data.platforms.select {|p| p.name == platforms[index]}
              - ee_platform = data.platforms_ee.select {|p| p.name == platforms[index]}
              %a.tile.js-distro-tile{ href: "##{distro.parameterize}", class: "distro-tile-#{index + 1} #{'js-distro-tile-ce-only' if ce_only_platforms[distro.parameterize]}" }
                .tile-image
                  = partial "/images/logos/#{icons[index]}-logo.svg"
                .tile-info
                  %h4.tile-title
                    = distro
                  %p
                    = subtitles[index]
              %li.distro-content.js-distro-content.hidden{ class: "distro-content-#{index + 1}", id: distro.parameterize }
                - ce_platform.each_with_index do |platform, index|
                  - ee_platform = ee_platform[index]
                  .js-platform-ce.js-install-instructions
                    = partial "_platform", locals: { platform: platform, type: "ce", toggle_type: "ee", has_ee: ee_platform, link_back: distro.parameterize }
                  - if ee_platform
                    .js-platform-ee.js-install-instructions.hidden
                      = partial "_platform", locals: { platform: ee_platform, type: "ee", toggle_type: "ce", has_ee: ee_platform, link_back: distro.parameterize }

      .method.kubernetes
        .method-content
          %h2.block-title HelmでKubernetes にインストール
          .flex-tile-list.text-center
            - data.installation_methods.kubernetes.each do |method|
              %a.tile{href: method.url}
                .tile-image
                  = partial method.logo
                .tile-info
                  %h4.tile-title
                    = method.name
                  %p
                    = method.desc

      .method.cloud
        .method-content
          %h2.block-title サポートされるクラウドプロバイダー
          .flex-tile-list
            - data.installation_methods.cloud.each do |method|
              %a.tile{href: method.url}
                .tile-image
                  = partial method.logo
                .tile-info
                  %h4.tile-title
                    = method.name
                  %p
                    = method.desc

      .method.official
        .method-content
          %h2.block-title その他の公式インストール方法
          .flex-tile-list
            - data.installation_methods.official.each do |method|
              %a.tile{href: method.url}
                .tile-image
                  = partial method.logo
                .tile-info
                  %h4.tile-title
                    = method.name
                  %p
                    = method.desc

      .method.community
        .method-content
          %h2.block-title 様々なコミュニティが配布するパッケージをダウンロード
          .flex-tile-list
            - data.installation_methods.community.each do |method|
              %a.tile{href: method.url}
                .tile-image
                  = partial method.logo
                .tile-info
                  %h4.tile-title
                    = method.name
                  %p
                    = method.desc
      .method
        .method-content
          %h2.block-title 古いバージョンのGitLabからアップデート
          %ul
            %li
              %p.text-center
                = link_to "/update/", class: "btn cta-btn accent margin-top20" do
                  GitLabの最新リリースへアップデート
      .method
        .method-content
          %h2.block-title Community Editionからアップグレード
          %ul
            %li
              %p.text-center
                = link_to "/upgrade/", class: "btn cta-btn accent margin-top20" do
                  Enterprise Editionへアップグレード
      .method
        .method-content
          %h2.block-title マニュアルインストールしたオムニバスパッケージからアップグレード
          %ul
            %li
              %p.text-center
                = link_to "/upgrade-to-package-repository/", class: "btn cta-btn accent margin-top20" do
                  オムニバスパッケージリポジトリへアップグレード
      .method
        .method-content
          %h2.block-title GitLabをサポートするサードパーティーアプリケーション
          %ul
            %li
              %p.text-center
                = link_to "/partners/", class: "btn cta-btn accent margin-top20" do
                  サードパーティーアプリケーションを表示
