---
title: "Is GitOps the next big thing in automation?"
title: "GitOpsはインフラ管理の次の主流になるのか"
author: Chrissie Buchanan
author_gitlab: cbuchanan
author_twitter: gitlab
image_title: '/images/blogimages/iac-gitops-blog-post_with-gl-logo.png'
description: "TwitterでGitOpsについて質問をした結果と、そこから見えてきたものを共有します。"
cta_button_text: '「GitOpsエキスパートによるパネルディスカッション」を見る' 
cta_button_link: 'https://about.gitlab.com/why/gitops-infrastructure-automation/' 
translator: "Hiroyuki Sato"
translator_gitlab: hiroponz
original_url: https://about.gitlab.com/blog/2020/07/14/gitops-next-big-thing-automation/
---

インフラ管理は新しい問題ではありません。2006年にはAWSが一般に公開されています。ソフトウェア開発のライフサイクルはほとんどが自動化されていますが、インフラ管理の大部分は依然として専門のチームを必要とする手作業のままです。インフラは柔軟に拡張できる必要があり、自動化によってインフラ管理は大きく改善します。

[GitOps](https://about.gitlab.com/topics/gitops/)は、新しい技術用語で、多くのインフラチームが探し求めていた答えになるかもしれません。 GitOpsの中核をなすのは、チームがアプリケーション開発ですでに使用している技術によって、インフラ管理を自動化することです。

私たちはTwitterでGitOpsがどれくらい普及しているか聞いてみました。

{::options parse_block_html="false" /}

<div class="center">

<blockquote class="twitter-tweet"><p lang="ja" dir="ltr">Where are YOU at with <a href="https://twitter.com/hashtag/GitOps?src=hash&amp;ref_src=twsrc%5Etfw">#GitOps</a>?</p>— GitLab (@gitlab) <a href="https://twitter.com/gitlab/status/1277595216468418560?ref_src=twsrc%5Etfw">June 29, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</div>

# GitOpsとは

GitOpsの独特な点は、それが単一の製品やプラグイン、プラットフォームではないということです。 GitOpsの詳細に飛び込む前に、GitOpsとは何かを定義してみましょう。

GitLabでは、GitOpsを次のように定義しています。

> GitOpsは、バージョン管理、コラボレーション、コンプライアンス、CI/CDなど、アプリケーション開発で使われているDevOpsのベストプラクティスを、インフラの自動化に適用した運用フレームワークです。

GitOpsはアプリケーション開発と同じバージョン管理システムで行われるため、[Gitに組み込まれている機能](https://devops.com/an-inside-look-at-gitops/)のすべてを活用することができ、チームはより良いコラボレーションができます。 GitOpsを実践しているインフラチームは、コードとして保存された設定ファイル（Infrastructure as Code）を使用します。

インフラチームはIaCを使用して、[マージリクエスト](https://about.gitlab.com/blog/2019/12/19/future-merge-requests-realtime-collab/)で変更を実施するようになります。インフラの変更がコード化され、再現性があり、追跡可能になります。ヒューマンエラーが発生する余地が少なくなり、全員で同じ情報を共有できるようになります。

> GitOps = IaC + MRs + CI/CD

私たちは、どのくらいの人がこのフレームワークを探求しているのか、あるいは全く聞いたことがないのかを知るために、Twitterのフォロワーに聞いてみるのは面白いことだと考えました。ここでは、私たちの調査から得られたものを紹介します。

## 23.8%が現在GitOpsを利用している

おそらくGitLabのフォロワーには先進的なユーザーが多いと考えていますが、それでも、この数字は非常に心強いものです。回答者の約4分の1がこの新しいフレームワークを使用しているということは、GitOpsがインフラを自動化するための実行可能な方法であることを物語っています。

## 10.6%がGitOpsの導入を計画している

新しいプロセスを導入することは、高度に組織化されたチームであっても難しいことです。 GitOpsではより良いコラボレーションが可能になりますが、それは必ずしも自然なことではありません。 手早く手動で変更を行うことに慣れているインフラチームにとって、この新しいプロセスは大きな変革です。 これらのGitOpsを導入しようとしている10%以上の回答者に、私たちは新しいフレームワークを導入するために何が必要なのかを理解する手助けしたいと考えています。

## 11.6%はGitOpsを聞いたことはあるが、コミットはしていない

これらの回答者には、いくつかの共通点があります。GitOpsを聞いたことがある人にとって、何がGitOps導入の妨げとなり、どのようなハードルを想定していたのでしょうか。

GitOpsの原則は、VMやコンテナを含むあらゆるタイプのインフラ自動化に適用でき、[Kubernetesクラスタ](https://about.gitlab.com/solutions/kubernetes/)を管理しようとしているチームにとっては非常に効果的です。 しかし、KubernetesがGitOpsに必須かどうかについては混乱があるかもしれません（必須ではありません）。それでも11%以上の回答者はGitOpsを聞いたことはあっても、それがどのように適用できるのか理解していないのかもしれません。

## 54% はまだGitOpsを検討していない

GitOpsはまだ始まったばかりなので、回答者の半数以上がまだ検討していないのは当然のことです。GitOpsは、組織がすでに使用しているツールと同じものを使って自動化を実現する画期的なテーマです。しかし、全く新しいプロセスに着手する前に、その仕組みを知ることは組織にとって重要です。

コラボレーションはDevOpsを効果的なものにしますが、[GitOps によってインフラのプロビジョニングにも、コードでのコラボレーションの精神を取り入れることができます](https://about.gitlab.com/blog/2019/11/04/gitlab-for-gitops-prt-1/)。 アプリケーション開発で使用されているバージョン管理システムと同じシステムでインフラを管理することで、組織全体に新たな透明性がもたらされます。

GitOpsの探求を続ける中で、このような調査は、コミュニティが新しいプロセスをどのように採用しているかを知るのに役立ちます。GitOpsは自動化の次の大きな流れになるのでしょうか？

GitOpsとその仕組みについてもっと知りたい方は、[Weaveworks](https://www.weave.works)、[HashiCorp](https://www.hashicorp.com)、[Ansible](https://www.ansible.com)、GitLabのGitOpsエキスパートによるパネルディスカッションをご覧ください。

* GitOpsがインフラ管理をどのように変えてゆくのか
* 成功したGitOpsとはどのようなものか
* チームがGitOpsを始めるために必要なことは何か

{::options parse_block_html="true" /}

<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>&nbsp;&nbsp;
GitLabの[GitOpsエキスパートによるパネルディスカッション](https://about.gitlab.com/why/gitops-infrastructure-automation/)のウェブキャストを見る
&nbsp;&nbsp;<i class="fab fa-gitlab" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>
{: .alert .alert-webcast}

**インフラ管理の詳細を読む：**

[Why GitOps should be the workflow of choice](https://about.gitlab.com/blog/2020/04/17/why-gitops-should-be-workflow-of-choice/)

[How to use GitLab and Ansible to create infrastructure as code](https://about.gitlab.com/blog/2019/07/01/using-ansible-and-gitlab-as-infrastructure-for-code/)

[How infrastructure teams use GitLab and Terraform for GitOps](https://about.gitlab.com/blog/2019/11/12/gitops-part-2/)
