---
layout: default
title: 料金
description: "GitLabをセルフホストする場合とGitLab.comを使用する場合、それぞれで利用できるプランとその料金を表示します。"
sponsor_bar: true
extra_css:
  - gitlab-com.css
  - pricing-6865-control.css
  - pricing-6865-test.css
  - experiments.css
extra_js:
  - faq.js
  - tabs.js
---

-# HARK;GENERATED CONTENT BELOW!
-# The below block is generated by data from /data/pricing.yml file.
-# This is where you will want to look to edit the content of the page.

.tab-container
  .tabs-wrapper
    = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
    = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
    %ul.pricing-tabs.container{ role: "tablist"}
      %li.pricing-tab--saas.active{ role: "presentation" }
        %a{ href: '#gitlab-com', "data-toggle" => "tab", "aria-controls" => "gitlab-com", role: "tab" }
          = partial "includes/icons/gitlab-com-icon.svg"
          .tab-info
            %p.tab-title GitLab.com
            %p GitLabがホストするSaaSを利用
      %li.pricing-tab--self-managed{ role: "presentation" }
        %a{ href: '#self-managed', "data-toggle" => "tab", "aria-controls" => "self-managed", role: "tab" }
          = partial "includes/icons/self-managed-icon.svg"
          .tab-info
            %p.tab-title セルフマネージド
            %p オンプレミス、またはクラウドにインストールして利用

  .tab-content
    -# Start of Self-manage tab
    .tab-pane{ role: "tabpanel", id: "self-managed"}
      .pricing-options.pricing-options--self-managed.text-center
        .container
          .row.flex-row.plan-row
            - data.pricing.self_managed.prices.core_plan do |plan|
              .col-md-4
                .plan.plan--core
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      1ユーザー
                      %br
                      1ヶ月
                  .plan-actions
                    = link_to "インストール", "/install/", class: "btn btn-pricing btn-self-managed"
                  = link_to "もっと表示する ", "#community-edition", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#community-edition.plan-item-list.list-unstyled
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == true && feature.pricing_page == true)
                        %li.item-description
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "すべての機能を表示", "/pricing/self-managed/feature-comparison/", class: "all-features"

            - data.pricing.self_managed.prices.premium_plan do |plan|
              .col-md-4
                .plan.plan--premium
                  %h3.plan-name
                    = link_to plan.title, "/pricing/premium/"
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      1ユーザー
                      %br
                      1ヶ月
                      %br
                      .cost-extra-small (米ドル, 年払い)
                  .plan-actions
                    = link_to "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0ff6145d07001614f0ca2796525", class: "btn btn-pricing btn-self-managed", target: "_blank" do
                      購入
                      %i{ class: "fas fa-external-link-alt" }
                    -# %br
                    -# = link_to "Free Trial", "/free-trial/", class: "btn btn-pricing btn-self-managed"
                  = link_to "もっと表示する", "#enterprise-edition-premium", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#enterprise-edition-premium.plan-item-list.list-unstyled
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == false && feature.gitlab_starter == false && feature.gitlab_premium == true && feature.pricing_page == true)
                        %li.item-description
                          .triangle
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "すべての機能を表示", "/pricing/self-managed/feature-comparison/", class: "all-features"

            - data.pricing.self_managed.prices.ultimate_plan do |plan|
              .col-md-4
                .plan.plan--ultimate
                  %h3.plan-name
                    = link_to plan.title, "/pricing/ultimate/"
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      1ユーザー
                      %br
                      1ヶ月
                      %br
                      .cost-extra-small (米ドル, 年払い)
                  .plan-actions
                    = link_to "https://customers.gitlab.com/subscriptions/new?plan_id=2c92a0fe6145beb901614f137a0f1685", class: "btn btn-pricing btn-self-managed", target: "_blank" do
                      購入
                      %i{ class: "fas fa-external-link-alt" }
                  = link_to "もっと表示する ", "#enterprise-edition-ultimate", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#enterprise-edition-ultimate.plan-item-list.list-unstyled
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == false && feature.gitlab_starter == false && feature.gitlab_premium == false && feature.gitlab_ultimate == true && feature.pricing_page == true)
                        %li.item-description
                          .triangle
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "すべての機能を表示", "/pricing/self-managed/feature-comparison/", class: "all-features"

      = partial "includes/home/customer-logos-transparent"

      .content-container.animated.faq
        .container
          %h2.faq-title.text-center
            Frequently asked questions for self-managed
          .faq-holder.clearfix
            - size = (data.pricing.self_managed.questions.size / Float(2)).ceil
            - data.pricing.self_managed.questions.each_slice(size).to_a.each do |group|
              = partial "includes/layout/question_group", locals: { group: group }

    -# Start of GitLab.com tab
    .tab-pane.active{ role: "tabpanel", id: "gitlab-com"}
      .pricing-options.pricing-options--saas.text-center
        .container
          .row.flex-row.plan-row
            - data.pricing.gitlab_com.prices.free_plan do |plan|
              .col-md-4
                .plan.plan--free
                  %h3.plan-name
                    = plan.title
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      1ユーザー
                      %br
                      1ヶ月
                  .plan-actions
                    = link_to plan.link, class: "btn btn-pricing btn-saas", target: "_blank" do
                      = plan.link_text
                      %i{ class: "fas fa-external-link-alt" }
                  = link_to "もっと表示する", "#free-plan", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#free-plan.plan-item-list.list-unstyled
                    %li.item-description
                      = plan.description
                    %li.item-description
                      = plan.support
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_core == true && feature.gitlab_com != false && feature.pricing_page == true)
                        %li.item-description
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "すべての機能を表示", "/pricing/gitlab-com/feature-comparison/", class: "all-features"

            - data.pricing.gitlab_com.prices.silver_plan do |plan|
              .col-md-4
                .plan.plan--silver
                  %h3.plan-name
                    = link_to plan.title, "/pricing/premium/"
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      1ユーザー
                      %br
                      1ヶ月
                      %br
                      .cost-extra-small (米ドル, 年払い)
                  .plan-actions
                    = link_to plan.link, class: "btn btn-pricing btn-saas", target: "_blank" do
                      = plan.link_text
                      %i{ class: "fas fa-external-link-alt" }
                  = link_to "もっと表示する", "#silver-plan", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#silver-plan.plan-item-list.list-unstyled
                    %li.item-description
                      = plan.description
                    %li.item-description
                      %strong
                        Freeのすべての機能と:
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_starter == false && feature.gitlab_premium == true && feature.gitlab_com != false && feature.pricing_page == true)
                        %li.item-description
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "すべての機能を表示", "/pricing/gitlab-com/feature-comparison/", class: "all-features"

            - data.pricing.gitlab_com.prices.gold_plan do |plan|
              .col-md-4
                .plan.plan--gold
                  %h3.plan-name
                    = link_to plan.title, "/pricing/ultimate/"
                  %p.plan-description
                    = plan.edition_description
                  .row.plan-pricing
                    .col-xs-6.cost.cost-large
                      = plan.monthly
                    .col-xs-6.cost.cost-small
                      1ユーザー
                      %br
                      1ヶ月
                      %br
                      .cost-extra-small (米ドル, 年払い)
                  .plan-actions
                    = link_to plan.link, class: "btn btn-pricing btn-saas", target: "_blank" do
                      = plan.link_text
                      %i{ class: "fas fa-external-link-alt" }
                  = link_to "もっと表示する", "#gold-plan", class: "visible-xs-block visible-sm-block featured-item-expand"
                  %ul#gold-plan.plan-item-list.list-unstyled
                    %li.item-description
                      = plan.description
                    %li.item-description
                      %strong
                        Premiumのすべての機能と:
                    - data.features.features.each do |feature|
                      - if (feature.gitlab_starter == false && feature.gitlab_premium == false && feature.gitlab_ultimate == true && feature.gitlab_com != false && feature.pricing_page == true)
                        %li.item-description
                          - if (feature.link != nil)
                            = link_to feature.title, feature.link
                          - if (feature.link == nil)
                            = feature.title
                  = link_to "すべての機能を表示", "/pricing/gitlab-com/feature-comparison/", class: "all-features"

      = partial "includes/home/customer-logos-transparent"

      .content-container.animated.faq
        .container
          %h2.faq-title.text-center
            %a{ :name => "faq" }
            Frequently asked questions for GitLab.com
          .faq-holder.clearfix
            - size = (data.pricing.gitlab_com.questions.size / Float(2)).ceil
            - data.pricing.gitlab_com.questions.each_slice(size).to_a.each_with_index do |group, i|
              - if (i == 1)
                = partial "includes/layout/question_group_with_yield", locals: { group: group } do
                  %li.faq-item
                    .faq-inner-item
                      %a.faq-question.js-faq-question{ href: "#" }
                        What features do not apply to GitLab.com?
                        %i.fa.fa-angle-down.pull-right
                      .faq-answer
                        %ul
                          - data.features.features.each do |feature|
                            - if (feature.gitlab_com == false && (feature.gitlab_core == true || feature.gitlab_starter == true || feature.gitlab_premium == true || feature.gitlab_ultimate == true))
                              %li
                                = feature.title
                                - if (feature.description != "" && feature.description != nil)
                                  %i.fa.fa-info-circle.info-icon{"title" => feature.description, "data-toggle" => "tooltip", "data-placement" => "top"}
              - else
                = partial "includes/layout/question_group", locals: { group: group }
