---
layout: blank
title: 404
extra_css:
  - not-found.css
---
%header.blank-header.text-center
  = partial 'includes/logos/blank_logo.svg'
.container.text-center.blank-container
  .four-zero-four-image
    = image_tag '404/illustration.png'
  .four-zero-four-content
    :markdown
      # おっと！

      お探しのページは見つかりませんでした。
    .buttons-container
      %a.btn.btn-take-back.js-take-me-back{ href: '/' }
        戻る
      %a.btn.btn-take-back.js-view-about-gitlab-com{ href: 'https://about.gitlab.com/', target: "_blank" }
        本家サイトを表示
        %i{ class: "fas fa-external-link-alt" }
:javascript
  var ref = document.referrer;

  if (ref !== '') {
    document.querySelectorAll('.js-take-me-back')[0].href = ref;
  }

  var path = window.location.pathname;
  path = "https://about.gitlab.com" + path;
  document.querySelectorAll('.js-view-about-gitlab-com')[0].href = path;
