---
layout: default
title: GitLab日本語情報サイト
description: GitLabに関する情報を日本語で発信しています。GitLabはDevOpsのための統合開発ツールチェインで、1つのアプリケーションでDevOpsライフサイクル全体をカバーします。
extra_css:
  - home.css
  - gitlab-com.css
  - pricing.css
extra_js:
  - tabs.js
---

%section.u-subtle-bg
  .container
    .row
      .col-xs-8

        %section.u-padding-bottom-sm.u-subtle-bg
          .row
            .col-xs-12
              %h2.main-heading GitLab の利用を開始する
          .row
            .col-xs-12
              %p
                GitLab の基本機能は無料で利用することができます。
                GitLab.com のアカウントを作成して利用を開始する手順を知りたい方は、下記のブログ記事に詳しく書かれているのでご確認ください。
              .text-center
                %a.btn.cta-btn.purple{ href: '/blog/2020/06/23/steps-to-get-a-gitlab-dot-com-account-and-get-set-up/'  }
                  GitLab.comのアカウントを作成し、安全に利用する方法

        %section.u-padding-bottom-sm.u-subtle-bg
          .row
            .col-xs-12
              %h2.main-heading GitLab とは？
          .row
            .col-xs-12
              %p GitLabは先進的なソフトウェア開発に必要な多くの機能を統合した製品です。課題管理、バージョン管理、コードレビュー、CI、CD、モニタリングを1つのアプリケーションで行うことができ、インストールも簡単にできます。GitLabを活用すると、ソフトウェア開発の計画からモニタリングまでを効率的に行うことができます。
              .text-center
                %a.btn.cta-btn.purple{ href: '/features/' } すべての機能を表示

        %section.u-padding-bottom-sm.u-subtle-bg
          .row
            .col-xs-12
              %h2.main-heading GitLab日本語ドキュメント
          .row
            .col-xs-12
              %p
                GitLabの公式ドキュメントは英語版しかありませんが、
                = link_to "公式パートナーのクリエーションライン", "https://about.gitlab.com/resellers/creationline/"
                がドキュメントの翻訳を行っています。現在はごく一部のドキュメントのみが翻訳済みです。
              .text-center
                %a.btn.cta-btn.purple{ href: 'https://gitlab-docs.creationline.com/', target: '_blank' }
                  GitLab日本語ドキュメントを表示
                  %i{ class: "fas fa-external-link-alt" }

        %section.u-padding-bottom-sm.u-subtle-bg
          .row
            .col-xs-12
              %h2.main-heading GitLabの日本語化
          .row
            .col-xs-12
              %p
                GitLabは9.2から国際化対応が進められています。これにより、ユーザー設定を変更することで、UIを日本語で表示することができます。
                UIを日本語表示に変更する方法については
                = link_to "こちらの記事", "/blog/2020/06/23/steps-to-get-a-gitlab-dot-com-account-and-get-set-up/"
                を参照ください。
              %p なお、GitLabの翻訳はコミュニティベースで進められているので、誰でもGitLabの翻訳に貢献することができます。
              .text-center
                %a.btn.cta-btn.purple{ href: 'https://gitlab.com/gitlab-jp/translation', target: '_blank' }
                  翻訳に貢献
                  %i{ class: "fas fa-external-link-alt" }

      .col-xs-4
        %div.fb-page{ data: {
          href: 'https://www.facebook.com/miniblog.gitlab.jp',
          tabs: 'timeline',
          height: '1024',
          'small-header': true,
          'adapt-container-width': true,
          'hide-cover': true,
          'show-facepile': false
        }}


.container
  = partial "includes/home/sdlc"

%section.u-padding-bottom-sm.u-subtle-bg
  .container
    .row
      .col-xs-12
        %h2.main-heading.u-margin-bottom-md.text-center このサイトについて
    .row
      .col-xs-12
        %p
          このサイトは、GitLabを日本で広めるために個人で開設したコミュニティサイトです。

        %p
          なお、GitLab B.V.の公式サイトは
          %a{ href: "https://about.gitlab.com", target: "_blank" }
            about.gitlab.com
            %i{ class: "fas fa-external-link-alt" }
          であり、GitLab B.V.はこのサイトの運営には携わっていないのでご注意ください。

        %p
          このサイトを開設する際、事前にGitLab B.V.のCEOのSytse Sijbrandij氏にメールを送り、
          %a{ href: "https://about.gitlab.com", target: "_blank" }
            about.gitlab.com
            %i{ class: "fas fa-external-link-alt" }
          の
          %a{ href: "https://gitlab.com/gitlab-com/www-gitlab-com", target: "_blank" }
            ソース
            %i{ class: "fas fa-external-link-alt" }
          を翻訳して www.gitlab.jp として公開しても良いか確認をして許可をいただきました。
        %p
          現在、このサイトの管理人はGitLabの
          %a{ href: "https://www.creationline.com/", target: "_blank"  }
            国内の正規代理店
            %i{ class: "fas fa-external-link-alt" }
          に所属し、
          %a{ href: "https://gitlab-jp.connpass.com/", target: "_blank" }
            国内のユーザーグループ
            %i{ class: "fas fa-external-link-alt" }
          の管理者の一人を務めています。

%div#fb-root
%script{ async: true, defer: true, crossorigin: 'anonymous', src: 'https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v14.0', nonce: 'HVkcGAGe' }
